[2021-06-17 07:29] simitt commented on #4824
@felixbarny can you provide details from where the java agent attacher can be pulled when bundling?

@jalvz maybe I am misunderstandind, but I'd like to avoid adding any manual steps. The java agent attacher should be part of the packaging process, used in the release process.

[2021-06-17 07:33] jalvz commented on #4824
The attacher lives in the java agent repo: https://github.com/elastic/apm-agent-java/tree/master/apm-agent-attach

Maybe just copying it to some folder in apm-server is enough for start, wdyt?

But we need to get "notified" if there are important (or breaking) changes in the attacher that need to be aware of...

[2021-06-17 07:38] simitt commented on #4830
@felixbarny related to https://github.com/elastic/apm-server/issues/4830#issuecomment-784164800 - does that mean that the java agent attacher should not be packaged with the apm-server but that the apm-server needs to check for the latest attacher version and then download that?

[2021-06-17 07:55] stuartnelson3 commented on #5470
I've tracked metadata like this before via prometheus metrics. What would you think about some sort of gauge vec (metric type is sort of unimportant since we're kind of abusing metrics) where we track etag as label? Should be able to get the instantaneous status, and time to full convergence, and if there are any agents who are stuck on an old version.

[2021-06-17 07:56] simitt opened #5477 "[fleet] Trigger Java Agent binary download via Elastic Agent"
APM Server asks the Elastic Agent to download the Java Agent binaries in a specific version (the version from the `apm-server.yml`). Elastic Agent downloads the binaries and returns the path to the binaries to the APM Server.

part of https://github.com/elastic/apm-server/issues/4830

TODO: link to elastic-agent issue

[2021-06-17 07:57] simitt opened #5478 "[fleet] Run the Java agent attacher to attach binaries to all matching JVMs"
APM Server runs the improved Java agent attacher (prefer `$JAVA_HOME/bin/java` over `java`), which takes care of attaching the binary to all matching JVMs on the same host

Take care of processing attacher logs.

part of https://github.com/elastic/apm-server/issues/4830

[2021-06-17 07:59] simitt opened #5479 "[fleet] Only support java agent attachment when not running in cloud env"
Limit Java agent auto attachment to not be available when running in ECE/ESS environments.

part of https://github.com/elastic/apm-server/issues/4830

[2021-06-17 08:09] simitt commented on #5477
moved to blocked for implementation;
but we can work on defining the communication with the elastic-agent.

[2021-06-17 08:15] axw commented on #5470
I think that would be a fine approach. It's kinda what I was thinking in #5018:

But I assume you mean we would do it in the server, and not in agents.

[2021-06-17 08:19] stuartnelson3 commented on #5470
I think the agents would be the right place actually

[2021-06-17 08:41] jalvz opened #5480 "Data race in pub/sub implementation"
Error:
`http: superfluous response.WriteHeader call from github.com/elastic/apm-server/x-pack/apm-server/sampling/pubsub_test.newRequestResponseWriterServer.func1 (pubsub_test.go:400)`

Details:
https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/PR-5468/5/testReport/junit/(root)/pubsub/Build_and_Test___ARM_build_test___TestSubscribeSampledTraceIDs/

[2021-06-17 09:32] stuartnelson3 commented on #5470
As a first step we'll add it to the server, and evaluate from there

[2021-06-17 10:29] stuartnelson3 commented on #5477
what about something like

request:
[code]
response:
not found -- 404, some sort of response like
[code]
which indicates to check back later. If we request a binary that can't be found, then the status would be something like "not found" or whatever.

when it's been downloaded the response is something like:
[code]

then we can verify the checksum and use the path.

another option would be to make

[2021-06-17 12:44] felixbarny commented on #4830
My first idea was that APM Server would just forward the standard out from the attacher to it's own log file. But I'm not sure if that's feasible with the logging framework that APM Server uses. It might be tricky to use the same file lock as the underlying log framework to avoid server and attacher logs to be interleaved.

In that case, it's probably best to have a separate log file for the attac

[2021-06-17 12:56] #5431 closed

[2021-06-17 13:57] stuartnelson3 commented on #5478
Checking that `ELASTIC_AGENT_CLOUD` is unset should hopefully be enough

[2021-06-17 13:58] simitt opened #5484 "[test] Tail based sampling (GA)"
In order to make tail based sampling GA the feature requires some exhaustive testing.

This should include, but is not limited to:
* test with at least one service using an actual apm agent
* test that logs are sufficient and helpful (on error, when reaching max number of dynamic services etc. )
* test on a larger scale with multiple indices and shards
* test that documentation is self-explanatory

[2021-06-17 14:01] stuartnelson3 commented on #5479
Checking that `ELASTIC_AGENT_CLOUD` is unset should hopefully be enough

[2021-06-17 14:59] AlexanderWert opened #5485 "Make intake API support compressed spans"
To make the compressed feature (https://github.com/elastic/apm/issues/432) work we need to extend the intake API and adapt the calculation of span metrics (https://github.com/elastic/apm-server/issues/5595).

### Extend data model
We need to introduce a new property `composite` in the span intake data model.
The semantics is the following.

- If this field is `null`, then the corresponding span is

[2021-06-17 15:51] simitt opened #5486 "Tail based sampling (GA)"
Collects work that needs to be done prior to making the tail based sampling feature GA:

* Introduce efficient codec for model events https://github.com/elastic/apm-server/issues/4120
* Behavior when ES license check fails https://github.com/elastic/apm-server/issues/5125
* Intensive testing https://github.com/elastic/apm-server/issues/5484
* Add required privileges to the Fleet integration https:

[2021-06-17 19:37] simitt opened #5487 "[tech debt] Move python tests for central config mgmt to go systemtests"
Rewrite python integration tests related to central config management to go systemtests, and ensure systemtests also cover the apm-server managed by fleet mode

[2021-06-17 19:37] simitt opened #5488 "[tech debt] Move python tests for sourcemaps to go systemtests"
Rewrite python integration tests related to sourcemaps to go systemtests for apm-server integration

[2021-06-17 19:38] #5466 closed

[2021-06-18 00:42] #4919 closed

[2021-06-18 01:27] axw opened #5490 "[fleet] make sure apm-server has enough privileges for tail-based sampling"
For tail-based sampling, apm-server needs to be able to monitor (query index stats) and search the sampled traces data straem. We will need to modify the integration package for this: see https://github.com/elastic/kibana/pull/97366.

[2021-06-18 01:39] axw opened #5491 "[OpenTelemetry] add support for receiving logs"
APM Server currently supports receiving OpenTelemetry traces and metrics. It would be nice to round that out with support for logs. The [OpenTelemetry Logging](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/overview.md) spec is currently in experimental status; we would provide no greater support guarantees than this, at least until the spec graduates.

[2021-06-18 07:01] felixbarny commented on #4824
Two options: you can either download the attacher from [maven central](https://search.maven.org/search?q=g:co.elastic.apm%20AND%20a:apm-agent-attach-cli), or we just commit the attacher binaries to the APM Server GitHub repo.

[2021-06-18 07:25] axw opened #5493 "pubsub: Pubsub offers no Close method for closing BulkIndexer"
The tail-based sampling pubsub implementation internally uses a go-elasticsearch BulkIndexer for indexing sampling decisions. This is never closed, as there is no method for closing the pubsub:

https://github.com/elastic/apm-server/blob/7b86cb707cf3456dcdf53da5db9798c721ebc7cc/x-pack/apm-server/sampling/pubsub/pubsub.go#L54-L60

[2021-06-18 07:26] axw commented on #5480
I looked into this a bit, and I'm _pretty_ sure (but not 100% sure) that it's an issue in the test rather than the implementation. However, while testing I did find another issue in the implementation: https://github.com/elastic/apm-server/issues/5493

[2021-06-18 11:10] simitt opened #5494 "[systemtest] flaky test error index out of range [0] with length 0"
Running `systemtests` locally on macOS leads to following flaky test result:

[code]

[2021-06-18 11:11] #4528 closed

[2021-06-18 15:26] cyrille-leclerc commented on #4714
@axw I feel it's hard to understand the status/completion of this ticket. Would it make sense to close it and to create finer grained tickets when gaps are identified?

[2021-06-19 16:10] subhasisbanik opened #5498 "Unable to increase heap memory"
**APM Server version** (`apm-server version`): 6.7

**Description of the problem including expected versus actual behavior**:
I am observing requests of more than 4800 events/second and require more throughput that that. I am looking to increase the memory utilised by the server on startup to address this.

[2021-06-21 01:28] axw commented on #4714
@cyrille-leclerc yes, SGTM

[2021-06-21 01:28] #4714 closed

[2021-06-21 01:34] axw commented on #5498
We prefer to reserve GitHub issues for bug reports and feature requests; this is neither. Please make sure you have read the [docs](https://www.elastic.co/guide/en/apm/server/current/tune-apm-server.html), and if you still have questions then open a topic at https://discuss.elastic.co/c/apm. Also bear in mind that 6.7 reached [EOL](https://www.elastic.co/support/eol) quite some time ago.

[2021-06-21 01:34] #5498 closed

[2021-06-21 11:16] dgieselaar opened #5504 "Optimize sharding strategy for query performance"
To leverage shard request cache better, we can consider the following changes to our sharding strategy:

1. **More aggressively shard the write index**. Queries to the write index are hard to cache, due to shard refreshes which invalidate the cache. Using a larger (default) number of shards means that we can leverage parallelism better on these indices.

2. Instead of rolling over on max_size, we

[2021-06-21 11:31] dgieselaar opened #5505 "Investigate sorting by service.name, transaction.type, service.environment"
Queries for APM dashboards mostly group by service.name, transaction.type and service.environment. Sorting on these fields might speed up query performance, but it also could come at the cost of indexing performance. We can look into both to see what the trade-off here. Ideally we have a rally track at some point that will allow us to test these changes, but that might take a while, so open to oth

[2021-06-22 08:50] stuartnelson3 opened #5514 "[sourcemaps] support multiple fleet addresses"
The current sourcemap fetching code for fleet assumes that we receive only a single fleet server.

Add support for round-robin requests between the fleet servers. Assume all fleet servers are in the same cluster, ie. an artifact is available on each individual server.

Original comment:
https://github.com/elastic/apm-server/pull/5410#discussion_r655827485

[2021-06-22 10:27] AlexanderWert opened #5516 "Support OpenTelemetry attributes in the APM intake API"
With the current intake API, APM agents that bridge the OpenTelemetry APIs (see https://github.com/elastic/apm-agent-java/pull/1631) need to take care of mapping OpenTelemetry attributes to internal fields. As the APM Server already provides the functionality of mapping OTel attributes as part of the OTLP intake, we should avoid duplicating this logic and potentially introducing divergence or inco

[2021-06-23 03:23] axw commented on #5516
@felixbarny @AlexanderWert am I right in thinking that we should only handle span attributes, and not resource attributes? Resource attributes are roughly equivalent to our stream-level metadata.

[2021-06-23 06:04] AlexanderWert commented on #5439
@michaelhyatt @cyrille-leclerc I think the behavior you describe here is intended to be an explicit UI feature (rather than a bug) that has been introduced in 7.13.

See this: https://github.com/elastic/kibana/pull/90424

If a transaction covers only one service, then spans are colored by span type instead of by services.

cc @dgieselaar

[2021-06-23 06:16] dgieselaar commented on #5439
Yes, we show different colors for transactions and span types when the trace covers one service, and different colors for service names if the trace covers more than one service. It was a bit of an experiment, if we feel it doesn't add any value we should remove it again. We're planning to make changes to coloring in https://github.com/elastic/kibana/issues/93011, would you mind adding any feedbac

[2021-06-23 06:46] AlexanderWert commented on #5516
I think so, since with the OTel bridge scenario the metadata (OTel's Resource attributes equivalent) is collected by our agent as it has been before

[2021-06-23 11:27] #5002 closed

[2021-06-23 12:17] #5377 closed

[2021-06-23 21:33] cyrille-leclerc commented on #5439
Thanks @dgieselaar and @AlexanderWert .

I'm not sure if I see more benefits or downsides.
On one hand, I see the benefit when displaying the spans of a single service and, on the other hand,I feel it's hard to understand that we have different color codes when displaying the spans of one single service or the spans of multiple services.

@formgeist , @michaelhyatt what's your point of view?

I do

[2021-06-24 03:30] michaelhyatt opened #5531 "APM UI doesn't show connected traces sent from AWS Distro for OTel (Lambda)"
**APM Server version** (`apm-server version`): 7.13.1

**Description of the problem including expected versus actual behavior**:
I managed to get the distributed tracing going with AWS X-Ray and the OTel collector to pick it up. The flow is `curl => API-GW => producer-lambda => API-GW => consumer-lambda`. The code (serverless): https://github.com/michaelhyatt/serverless-aws-python-api-worker-otel

[2021-06-24 03:34] michaelhyatt commented on #5439
IMHO, I am used to seeing different colours represent traces belonging to different components, so the change of meaning of colours was unexpected and somewhat confusing.

[2021-06-24 08:52] axw commented on #5531
@michaelhyatt would you be able to run the opentelemetry-collector with the logging exporter, and capture the logged spans? Then we can compare to the docs we're recording.

One thing I can see is that the consumer transaction's `parent.id` does not refer to either of the other events. Also, the producer transaction has a `parent.id` - so neither of the transactions is considered the root, hence w

[2021-06-24 11:11] formgeist commented on #5439
There are a few options available; we could choose to flip the order of the visualization palette colors when using them for span type instead, which will look different in most cases. The other option is that it's a user interaction to switch between service or type breakdown. I personally think utilizing the different colors in context is better than the previous, but it does have that possibili

[2021-06-24 11:32] #4829 closed

[2021-06-24 11:55] michaelhyatt commented on #5531
@axw I have the debug logs of the embedded OTel collector that recorded the messages it sends. 2 logs are attached. Here is the example of the debug of the span that the consumer reports:
[code]
[consumer.txt](https://github.com/elastic/apm-server/files/6708937/consumer.txt)
[producer.txt](https://github.com/elastic/apm-server/files/6708938/producer.txt)

[2021-06-24 12:42] AlexanderWert commented on #5531
@michaelhyatt Can you try to disable X-Ray tracing in the API Gateway (https://docs.aws.amazon.com/xray/latest/devguide/xray-services-apigateway.html) and see if it solving the observed problem.

[2021-06-26 01:33] michaelhyatt commented on #5531
@AlexanderWert I disabled the API gateway tracing and now it doesn't appear on X-Ray service map or waterfall diagram:
![image](https://user-images.githubusercontent.com/15670925/123497574-9e467c00-d671-11eb-880a-6b76c1b4ed87.png)
![image](https://user-images.githubusercontent.com/15670925/123497580-a8687a80-d671-11eb-97e7-6afdaf8eee31.png)

Kibana APM UI still doesn't show the trace.

<details><s

[2021-06-28 05:32] axw commented on #4854
Some thoughts on how to go about this.

1. Update [ingest/pipeline/definition.yml](https://github.com/elastic/apm-server/blob/master/ingest/pipeline/definition.yml) to add a new pipeline definition at the end of the file.
2. Test it by running apm-server in standalone mode, and then reindexing events using the new pipeline: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reind

[2021-06-28 06:29] axw opened #5549 "sourcemap.TestFetchTimeout is flaky"
See https://apm-ci.elastic.co/blue/organizations/jenkins/apm-server%2Fapm-server-mbp/detail/PR-5542/3/tests

[2021-06-28 14:39] t-8ch opened #5554 "docker image: support configuration with environment variables"
**Is your feature request related to a problem? Please describe.**

The APM docker container can not be configured with environment variables.
Environment variables have various advantages over the other available configuration mechanisms.
(Especially on Kubernetes)

**Describe the solution you'd like**

It would be nice if the apm container could be configured with environment variables, similar

[2021-06-29 01:17] axw commented on #5554
Thanks for opening the issue @t-8ch, and for all the details/thought you put into it.

I agree that being able to configure apm-server using environment variables would be a nice. I don't think this is an easy task given the config framework we use, but it's worth looking into.

For Kubernetes specifically: in case you're not aware, there is an operator ("Elastic Cloud on Kubernetes") which you ca

[2021-06-29 02:35] #5470 closed

[2021-06-29 07:32] #5322 closed

[2021-06-29 17:01] stuartnelson3 opened #5571 "Fix and re-enable flaky `sourcemap.TestFetchTimeout` test"
This was disabled for 7.14. Fix the test and re-enable it.

[2021-06-29 18:45] simitt opened #5579 "[apm][fleet] Release 0.3.0 apmpackage to production before 7.14 release"
- [x] release package to production (towards the end of FF)
- [x] ping @ogupte to update the version in the Kibana migration from `0.3.0-dev1` to `0.3.0`

[2021-06-29 19:33] t-8ch commented on #5554
@axw Thanks for your response.
The operator looks indeed very useful for my usecase. I will take a look at it.

[2021-06-29 20:23] #5571 closed

[2021-06-30 09:26] #5480 closed

[2021-06-30 09:26] #5493 closed

[2021-06-30 09:26] #5549 closed

[2021-07-01 07:00] simitt opened #5595 "[compressed spans] Adapt span metrics calculation"
To make the compressed feature (https://github.com/elastic/apm/issues/432) work we need to extend the intake API (https://github.com/elastic/apm-server/issues/5485) and adapt the calculation of span metrics.

## Adapt span metrics calculation
Since this feature is folding a set of spans into one single we need to adapt the calculation of span metrics so that the resulting metric values are still c

[2021-07-04 06:22] eyalkoren commented on #5229
@simitt no, currently no agent is sending this AFAIK, but in the Java agent we have a [PR](https://github.com/elastic/apm-agent-java/pull/1767) that adds it to our RabbitMQ instrumentation and it is blocked on the addition of this field.

[2021-07-05 02:23] axw opened #5602 "[Fleet] add `external: ecs` to ECS fields in integration package"
Rather than reproducing ECS fields, use the new external field support added to packages. See https://github.com/elastic/integrations/pull/1171 for an example.

[2021-07-05 02:43] axw opened #5603 "apmbench: report Elasticsearch disk usage"
It would be useful if [apmbench](https://github.com/elastic/apm-server/tree/master/systemtest/cmd/apmbench) could report Elasticsearch disk usage (added in https://github.com/elastic/elasticsearch/pull/74051), so we can measure the impact of changes to the server. This should be optional, since apmbench does not require apm-server to output to Elasticsearch.

[2021-07-05 11:58] tttoad opened #5609 "serverMap Module data exceptions"
APM Server version 7.13.2 elasticSearch: 7.13.2 kibana: 7.13.2

The service node of the serverMap module on the Kibana Apm interface cannot be linked up.

1.run apm,es,kibana,opentele :
	docker run --name elasticsearch --network=my-jaeger-net  -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" -d elasticsearch:7.13.2
	docker run --name kibana --network=my-jaeger-net  -p 5601:5601 -d kibana:

[2021-07-07 02:46] axw commented on #5609
@ttoad please open a topic at https://discuss.elastic.co/c/observability/apm/58. It's not clear why this would happen, and we prefer to reserve GitHub issues for confirmed apm-server bugs. Once we understand the cause, we may come back here and open an issue.

When you do open a topic in Discuss, please provide some more details so we can understand why this is happening. Ideally a sample Jaeger-i

[2021-07-07 02:46] #5609 closed

[2021-07-07 11:54] #5388 closed

[2021-07-08 05:15] #5374 closed

[2021-07-08 06:06] axw commented on #5488
Closed by https://github.com/elastic/apm-server/pull/5522

[2021-07-08 06:06] #5488 closed

[2021-07-09 09:09] axw opened #5649 "Document how to drop non-sampled transactions"
It is possible to configure apm-server to drop transactions sent by agents marked as non-sampled:

[code]

By default, non-sampled transactions are kept. We will flip the default in a future release -- probably 8.0. In the meantime, we should document this configuration so users can opt into dropping them to save on storage. For the UI to report metrics (such as throughput) correctly this requires

[2021-07-09 14:37] #5478 closed

[2021-07-09 16:47] stuartnelson3 opened #5663 "OTel array attributes not recorded as labels"
**APM Server version** (`apm-server version`):
[code]

**Description of the problem including expected versus actual behavior**:

When sending traces using an attribute array, the values do not appear in the document in elasticsearch. When changing the code to send a single attribute value, the value appears as a label.

single attribute:
![image](https://user-images.githubusercontent.com/1398104/

[2021-07-09 17:40] cauemarcondes opened #5665 "[Fleet]apm-server stops working after uploading sourcemap"
While testing the new sourcemap API, I noticed that once in a while the `apm-server` stops working after being restarted because of a new sourcemap saved in the package policy.

Elastic-agent logs:
[code]

** apm-server doesn't throw any logs

<img width="1189" alt="Screen Shot 2021-07-09 at 13 41 14" src="https://user-images.githubusercontent.com/55978943/125116870-5a189a00-e0bb-11eb-9400-2043996

[2021-07-12 06:20] #5665 closed

[2021-07-12 07:06] axw commented on #5595
I _think_ this is a simple matter of updating `model.Span.RepresentativeCount` when decoding "span.composite": https://github.com/elastic/apm-server/blob/06bea7cfe1263c416bb904f455e4e9d436a4f9b0/model/span.go#L80-L85

i.e. if we set that to `1/sample_rate * composite.count`, then the existing span metrics aggregator should do the right thing, IIANM

[2021-07-12 08:20] #4958 closed

[2021-07-12 11:21] lucabelluccini opened #5682 "Metrics without any explicit mapping can lead to document rejection"
Some APM clients support metrics which are unknown by APM Server (e.g. `micrometer` for the APM Java Agent).
APM doesn't know the field names nor their type.

It can happen some of the fields, due to the fact there's no default mapping, might be mapped as `float` instead of `long` (or the opposite), leading to document rejections depending on the first document to be indexed after a rollover or in

[2021-07-13 08:38] cyrille-leclerc opened #5688 "OpenTelemetry documentation is misleading with the deprecated Elastic exporter more visible than the OTLP exporter"
As shown on https://discuss.elastic.co/t/servermap-module-data-exceptions/278012/7 , the current [Elastic + OpenTelemetry documentation](https://www.elastic.co/guide/en/apm/get-started/current/open-telemetry-elastic.html) is misleading with the deprecated Elastic exporter more visible than the OTLP exporter.

We should clearly highlight that the OpenTelemetry Collector Exporter for Elastic is depr

[2021-07-13 09:36] clyfish opened #5689 "Sourcemap filled up the root filesystem in the /tmp directory."
**APM Server version** (`apm-server version`):
7.12.0

**Description of the problem including expected versus actual behavior**:
One of our apm-server instance responses `400 Bad Request` when uploading some large sourcemap files.
I logined in the instance, and found there are many sourcemap files in the /tmp directory filling up the root filesystem.

**Steps to reproduce**:
Upload a large (46MB)

[2021-07-13 12:31] v1v commented on #4941
PRs:
- https://github.com/elastic/apm-server/pull/5690 to create the Job in the Jenkins UI
- Another PR will be created with the whole automation.

The idea to split in two different PRs will help with the development process:
- JJBB are nothing but a change in the UI.
- Pipelines can be tested on a PR basis if the above already exists.

But my local environment is not in a good shape so, I'm iter

[2021-07-14 06:51] axw opened #5698 "docs: document `apm-server.auth.anonymous` config"
When https://github.com/elastic/apm-server/pull/5623 lands, we should document `apm-server.auth.anonymous` config. This includes:
 - `apm-server.auth.anonymous.enabled`: enable/disable anonymous access
 - `apm-server.auth.anonymous.allow_agent`: allowed agent names for anonymous agents
 - `apm-server.auth.anonymous.allow_service`: replaces and equivalent to [`apm-server.rum.allow_service_names`](h

[2021-07-14 07:49] #5347 closed

[2021-07-14 09:31] #4941 closed

[2021-07-14 09:33] axw commented on #5663
I did it for transactions, but forgot to do it for spans too. Also resource attributes.

[2021-07-14 11:50] simitt opened #5707 "Define component templates for APM"
Fleet creates a custom component template by default for every datastream. Component templates can only overwrite settings and mappings that are not part of the `_index_template`'s settings and mappings. Move all settings that should be changable by users into the component template definition in the apmpackage.

For example in the [manifest](https://github.com/elastic/package-storage/blob/product

[2021-07-14 11:54] axw opened #5708 "pubsub.TestSubscribeSampledTraceIDs is flaky"
pubsub.TestSubscribeSampledTraceIDs intermittently fails in CI, e.g. https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/PR-5704/3/testReport/junit/(root)/pubsub/Build_and_Test___ARM_build_test___TestSubscribeSampledTraceIDs/

[2021-07-14 12:51] Mpdreamz commented on #5707
Linking this ES feature request for awareness both ways: https://github.com/elastic/elasticsearch/issues/75031

[2021-07-15 02:40] axw commented on #5689
Thanks for reporting this @clyfish.

I can reproduce this on the master branch. Go's standard library writes form data to /tmp when it exceeds 32MB, so I just added a 32MB string to https://github.com/elastic/apm-server/blob/master/testdata/sourcemap/bundle.js.map and uploaded it. A "multipart-..." file was left behind in /tmp. It is supposed to be removed automatically when the upload completes,

[2021-07-15 05:27] #5689 closed

[2021-07-15 16:12] estolfo commented on #5514
Is there any benefit to round-robining the requests vs just selecting a random address to send the request to? I'm guessing selecting a random address would be simpler to implement.
A basic round-robin implementation doesn't take into account load or anything else so I don't see the difference between that and random selection in this context.

[2021-07-15 17:12] cabrinha commented on #2107
Any chance of getting a helm chart for deploying APM?

[2021-07-15 17:36] graphaelli commented on #2107
@cabrinha https://github.com/elastic/helm-charts/tree/7.13/apm-server

[2021-07-16 01:32] axw commented on #5514
@estolfo random selection sounds good to me, and I don't think there's any benefit to round robin. @stuartnelson3 do you have any concerns with that?

[2021-07-16 13:05] stuartnelson3 commented on #5514
No concerns from me

[2021-07-16 17:28] estolfo commented on #5514
@axw your comment [here](https://github.com/elastic/apm-server/pull/5410#discussion_r655827485) suggests that any artifact can be fetched from any fleet server. So why would we need a map of `(service.name`, `service.version`, `bundle.path`) combination to a fleet server address? It seems that we could simplify this code to just keep a list of fleet addresses and not bother with keeping a map.
The

[2021-07-18 20:46] cyrille-leclerc opened #5747 "[OpenTelemetry] The graph "Time spent by span type" is empty"
The graph "Time spend by span type" is empty in the Elastic APM Service Overview screen

![image](https://user-images.githubusercontent.com/459691/126081666-1e9daf15-497b-445f-9566-b9790d7e6b01.png)

[2021-07-19 02:56] axw commented on #5514
@estolfo we don't need to map all of those things to every fleet server address, as they're indeed orthogonal. Does your question stem from the way the code is structured here? https://github.com/elastic/apm-server/blob/aeafd43393469f150ff77e336d03c09e216b8391/sourcemap/fleet_store.go#L77-L86

What we need is:
 - a set of `(service.name, service.version, bundle.filepath, sourcemap.url)` tuples
 -

[2021-07-19 06:04] AlexanderWert opened #5753 "Extend Intake to accept FaaS / Serverless context fields"
With [adding AWS Lambda support to our agents](https://github.com/elastic/apm/pull/470) we need additional context in the intake API that accepts function as a service (faas)-specific fields.

Fields to be added:

Field | Example | Metadata | Transaction | Description
---   | ---   | --- | --- | ---
`service.id` | e.g. `arn:aws:lambda:us-west-2:123456789012:function:my-function` | yes | yes | Add

[2021-07-19 06:10] axw commented on #5753
Also relevant: https://github.com/elastic/apm-server/issues/5456

[2021-07-19 13:14] stuartnelson3 commented on #5663
Testing against #5704, array attributes at the resource level are correctly handled, but when I add them at the span level they still aren't appearing. Single value attributes added at the span level aren't appearing for me now, either.

version: `apm-server version 7.14.0 (amd64), libbeat 7.14.0 [bea70f612b1d70561dbedd57b1cd21fe56120795 built 2021-07-19 05:24:50 +0000 UTC]`

gist: https://gist.gi

[2021-07-19 13:38] cyrille-leclerc opened #5755 "[OpenTelemetry] Docs: rename "Positive Rate" to "Counter Rate""
The function that was called "Positive Rate" is now called "Counter Rate": [\[TSVB\] Rename positive rate to counter rate #80228](https://github.com/elastic/kibana/issues/80228)

![image](https://user-images.githubusercontent.com/459691/126168579-7348874f-7c54-448e-b22b-16df5d7f8b74.png)

[2021-07-19 13:47] estolfo commented on #5514
Yes, I understood we had to keep the `(service.name, service.version, bundle.filepath, sourcemap.url)` tuples and I thought it didn't make sense to store every combination of tuple and fleet server address, as any fleet server could be used for any artifact. I'll change the implementation a bit and make the URL when selecting a host, as you've suggested.

[2021-07-19 20:32] kaiyan-sheng commented on #4368
Sorry I just saw this message 🤕 Yes here is the issue: https://github.com/elastic/beats/issues/22739

[2021-07-19 20:56] #5688 closed

[2021-07-20 03:36] axw commented on #5663
@stuartnelson3 I just ran the latest 7.14-SNAPSHOT image, and pointed your gist at it:

There's 3 events here: transaction, span, and latency histogram metric. The transaction only has the resource attributes, while the span has both resource and span attributes. That's expected from the code, because only the span (getUser) has span attributes specified. Were you looking at the transaction doc an

[2021-07-20 12:00] stuartnelson3 commented on #5663
correct, I was looking at the transactions index. thanks!

[2021-07-20 12:00] #5663 closed

[2021-07-21 01:08] #4854 closed

[2021-07-21 05:53] Palecha commented on #2702
@jahtalab , I am facing the same issue which you have highlighted above, may i know what was the fix.

[2021-07-21 06:34] axw commented on #2702
@Palecha I would recommend opening a topic at https://discuss.elastic.co/c/observability/apm/58, with some information about what the issue you are facing. Your questions are more likely to be seen and answered there.

[2021-07-21 18:54] BenB196 opened #5779 "Release note links on GitHub Releases are broken (404) for the last few releases"
**APM Server version** (`apm-server version`): 7.9.x+?

**Description of the problem including expected versus actual behavior**:

The release note links on GitHub are broken for the last few 7.x releases. 6.x release appear to not be broken.

The broken links end in 404.

This issue appears to go back to around 7.9-ish.

**Steps to reproduce**:

Please include a *minimal* but *complete* recreatio

[2021-07-22 01:56] axw commented on #5779
Oops, thanks for raising this @BenB196! We'll look into it.

[2021-07-22 12:42] domanq opened #5786 "server setup - ingest pipeline apm_error_grouping_name - [value] required property is missing"
The APM Server 7.13.4 setup fails at "PUT https://...:9200/_ingest/pipeline/apm_error_grouping_name ..."  with Elasticsearch 7.9.3.
The pipeline definition uses copy_from, which is not supported by this version of Elastic.
According to the compatibility matrix it should be: Elasticsearch 7.9.x -> APM Server 7.0.x-7.13.x.

[2021-07-23 14:23] marcusjsford opened #5795 "processor/otel: translate OpenTelemetry exceptions from .net"
**APM Server version:** apm-server:7.13.4
**Elastic version:** elasticsearch:7.13.4
**Kibana version:** kibana:7.13.4
**Otel-Collector version:** otelcontribcol v0.30.

When I send a span with a span event exception to apm-server via the OTLP protocol apm-server correctly translates the span into an error but the stacktrace does not show on the kibana UI.
I can see the Spans coming through into El

[2021-07-23 14:31] marcusjsford commented on #5795
I think this may need extension to add a .net stacktrace parser.
https://github.com/elastic/apm-server/blob/1ae881bb4c2358065fe0e33d43a77e9108fcea12/processor/otel/exceptions.go#L85-L91

[2021-07-25 11:28] cyrille-leclerc commented on #5795
Thanks Marcus for your investigation, we will look at it with the team

[2021-07-26 03:51] axw opened #5796 "Translate OpenTelemetry system metrics"
Similar to what we did for JVM metrics (https://github.com/elastic/apm-server/issues/4919), we should translate [OpenTelemetry system metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/system-metrics.md) to the equivalent metrics produced by Elastic APM agents, if possible, so they appear under the service overview metrics in

[2021-07-26 06:40] axw commented on #5786
Thanks for the bug report -- that was an oversight which we'll fix.

[2021-07-26 12:48] cyrille-leclerc commented on #5796
@axw I love your initiative. Did you evaluate how we should prioritize the "official" system metrics versus the metrics captured by the [OpenTelemetry Collector receiver for Host Metrics](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/hostmetricsreceiver)?

I did some research when filling [Map the metrics of the OpenTelemetry Collector Host Metrics Receiver to ECS an

[2021-07-26 12:54] cyrille-leclerc opened #5800 "Translate OpenTelemetry Node.js exceptions"
# Description

Exceptions captured on Node.js OpenTelemetry traces are not reported in Elastic APM GUI.

See https://github.com/elastic/apm-server/blob/v7.13.4/processor/otel/exceptions.go#L85-L91
[code]

# See Also

* #5795

[2021-07-26 12:55] cyrille-leclerc opened #5801 "Translate OpenTelemetry Python exceptions"
# Description

Exceptions captured on Python OpenTelemetry traces are not reported in Elastic APM GUI.

See https://github.com/elastic/apm-server/blob/v7.13.4/processor/otel/exceptions.go#L85-L91
[code]

# See Also

* #5795
* #5800

[2021-07-26 14:56] smith commented on #5796
Related: #105923. We're not collecting the CPU and thread count metrics for JVM OpenTelemetry.

[2021-07-26 21:45] stuartnelson3 commented on #5579
closed by https://github.com/elastic/package-storage/pull/1624

[2021-07-26 21:45] #5579 closed

[2021-07-27 03:20] axw commented on #5796
@cyrille-leclerc no, I did not do any kind of evaluation - I just opened this for tracking.

[2021-07-27 06:57] axw opened #5807 "ingest: apm_convert_destination_address is incompatible with Elasticsearch 7.12.0"
In https://github.com/elastic/apm-server/pull/5695 I removed some code that sets `destination.ip` from `destination.address`, and added an ingest node pipeline that does this instead. The pipeline uses `convert`, but support for the IP target field type was only added in 7.13, so this fails with older versions of Elasticsearch.

[2021-07-29 02:29] axw opened #5821 "Soak testing"
We should perform [soak testing](https://en.wikipedia.org/wiki/Soak_testing) (AKA "long run testing"), to identify issues in apm-server (and associated software) that may become evident over, such as memory leaks/bloat. I think, ideally, we would run this in ESS. We might use hey-apm or apmbench for load generation, or perhaps opbeans with standard HTTP load generators.

[2021-07-29 06:12] axw commented on #5125
Running apm-server standalone with tail-based sampling enabled, the server exits immediately if Elasticsearch is unavailable as the server tries and fails to create a data stream for sampling decisions. Easily reproduced with:

`./apm-server -e --strict.perms=false -E 'apm-server.sampling.tail.policies=[{sample_rate: 0.1}]'`

[2021-07-29 15:11] stuartnelson3 commented on #5039
Based on the options from the redesign (https://github.com/elastic/kibana/issues/91412) I've made a list of the config options that should be reloadable. If they require a server restart (such as TLS) that is also noted.

- maximum size of request header
- idle time
- read time
- shutdown time
- write time
- max event size
- custom headers
- max api keys for agent auth
- capture personal data
- se

[2021-07-30 08:05] axw commented on #5649
This was already documented in https://github.com/elastic/apm-server/pull/4345: https://www.elastic.co/guide/en/apm/server/current/transaction-metrics.html#configuration-sampling

[2021-07-30 08:05] #5649 closed

[2021-07-30 10:48] paulgrav commented on #4715
Would be good get some movement on this issue. Currently our devs are logging to stdout given that Span Events aren’t supported in either the Elastic Exporter or Elastic APM Server, or worse bunging stuff in attributes.

[2021-07-30 10:57] cachedout commented on #5821
We have a solution that's [pretty close to being ready for this](https://github.com/elastic/beatbox/). It was originally designed for Beats/Agent but we could adapt it to work with APM Server. Let me know if you'd like to chat more about it.

[2021-07-30 11:13] #5514 closed

[2021-07-30 18:56] estolfo opened #5836 "Add more detailed test for fetching sourcemap from multiple fleet servers"
As per [this](https://github.com/elastic/apm-server/pull/5770#discussion_r679585900) comment, add a more detailed test for fetching sourcemap from multiple fleet servers when some fail and some succeed.

- call fetch in a goroutine
- block until all servers have received their request
- have ts0 respond with failure
- have ts1 respond with success
- block until ts2's request is cancelled

[2021-08-02 03:28] axw commented on #5821
@cachedout sounds good, I'll ping you some time soon to have a chat

[2021-08-02 06:40] AlexanderWert commented on #5485
Resolved with https://github.com/elastic/apm-server/pull/5661

[2021-08-02 06:40] #5485 closed

[2021-08-02 06:52] AlexanderWert opened #5850 "[spans dropped stats] Extend intake to support stats for dropped spans"
As specified in [this APM agents spec](https://github.com/elastic/apm/blob/master/specs/agents/handling-huge-traces/tracing-spans-dropped-stats.md), there might be different reasons for spans being dropped by APM agents.

In this case agents should collect statistics about the dropped spans in a `transaction` object as follows:
[code]

This issue is about extending the APM server's intake API to a

[2021-08-02 06:56] AlexanderWert opened #5851 "[spans dropped stats] Adapt span metrics calculation"
With https://github.com/elastic/apm-server/issues/5850 transactions may contain statistics about spans that have been dropped by APM agents.
These statistics are relevant and should be taken into account for the correct calculation of span destination metrics conducted in the APM server.

[2021-08-02 08:28] AlexanderWert opened #5853 "[fleet] Add download agent version option to Java agent attacher"
Support the `download-agent-version` option in the Java agent attacher settings to support the option implemented in https://github.com/elastic/apm-agent-java/issues/1901.

[2021-08-02 11:51] cachedout opened #5858 "7.x branch test failure due to timeout exceeded"
We have recently detected a failure on the 7.x branch of APM Server: https://apm-ci.elastic.co/blue/organizations/jenkins/apm-server%2Fapm-server-mbp/detail/7.x/890/pipeline

It appears that a test has taken too long to run and has thrown the following error:

`*** Test killed with quit: ran too long (11m0s)`

We're happy to adjust the pipeline if needed, but this seems as if it is either a legiti

[2021-08-02 23:14] bmorelli25 commented on #5779
Thanks for pointing this out, @BenB196! I've fixed the old links and opened a PR to ensure we're using the right URL pattern moving forward.

[2021-08-02 23:14] #5779 closed

[2021-08-04 02:24] axw commented on #5707
I started looking into this, but it's unclear to me what the expected outcome is. If you specify index_template like in the description, for `traces-apm-*`, you end up with two additional component templates:

**traces-apm@mappings**

[code]

**traces-apm@settings**

[code]

- those properties are not defined in the index template anyway, so why are we doing this?
- AFAICT the addition of these co

[2021-08-04 05:39] #5786 closed

[2021-08-04 05:39] #5807 closed

[2021-08-04 08:01] Mpdreamz commented on #5707
It should create 4 component templates and link them at install time:

https://github.com/elastic/kibana/blob/3864fe1559281b4a2731e3a9439c501125e65669/x-pack/test/fleet_api_integration/apis/epm/install_overrides.ts#L47

Maybe there is an additional toggle in the package spec to create the @custom component template too?

[2021-08-05 20:23] graphaelli opened #5898 "destination.ip not always an IP when set by pipeline"
**APM Server version** 8.0.0-SNAPSHOT ~, likely 7.14.0+~

**Description of the problem including expected versus actual behavior**:

When ingesting a span containing an `destination.address` that is not an IP apm-server will accept the payload but fail to index with:

[code]

It appears this is a regression introduced in elastic/apm-server#5876 where the previous processor filtered out addresses t

[2021-08-06 01:40] axw opened #5899 "[docs] logging.files.permissions config is misleading"
https://www.elastic.co/guide/en/apm/server/current/configuration-logging.html has examples of setting logging.files.permissions to 0644 and 0664. Since 2019 (https://github.com/elastic/beats/pull/14119), log files cannot be created with anything more than the permissions 0640, as libbeat sets a umask.

[2021-08-08 03:06] axw commented on #5898
#5876 was backported to 7.14, but only for the error grouping pipeline. The destination address pipeline doesn't exist in 7.14 -- this bug only affects the master branch.

[2021-08-08 04:00] #5595 closed

[2021-08-09 08:00] #5487 closed

[2021-08-09 09:10] mdelapenya opened #5910 "[Testing] One Kibana field is duplicated"
Detected in current master branch: https://apm-ci.elastic.co/blue/organizations/jenkins/apm-server%2Fapm-server-mbp/detail/master/1137/pipeline/171

The build result is not affected (still green/stable/success), although I'm not sure if that should pop-up in any other manner

### Steps to reproduce:
1. Run `make are-kibana-objects-updated`

./build/darwin/bin/mage -compile=build/darwin/mage
2021/0

[2021-08-09 14:58] stuartnelson3 opened #5913 "Update server reload to not reset aggregation/sampling"
Reloading the apm-server config under fleet currently utilizes `SO_REUSEPORT` to start a second server with the updated config that listens on the same port, and then shuts down the old server.

As mentioned in [this comment](
https://github.com/elastic/apm-server/pull/5897#pullrequestreview-724974474), this approach has the undesirable effect of resetting aggregation and sampling on each config r

[2021-08-09 14:59] stuartnelson3 commented on #5039
closed by #5911

[2021-08-09 14:59] #5039 closed

[2021-08-09 16:50] graphaelli commented on #5898
That's excellent news, updated description

[2021-08-10 02:21] axw opened #5914 "Introduce standalone data stream support, deprecate Elasticsearch setup"
APM Server is currently responsible for installing Elasticsearch (legacy) index templates, ingest pipelines, and ILM policies. We now also have the Fleet integration which installs variants of these, with the index templates creating `traces-*`, `logs-*`, and `metrics-*` data streams instead of `apm-*` indices.

We intend to increasingly rely on Fleet and Elastic Agent for powering features such a

[2021-08-10 06:39] axw commented on #4715
@paulgrav apologies for the silence, we've been rather busy. This isn't currently scheduled, but I'm hoping we'll be able to get to it within the next few months. My current thinking is that we'll index span events as logs, such that they'll show up in the trace logs UI:

![image](https://user-images.githubusercontent.com/843579/128819149-164bd03a-36ee-4506-b029-7465eac793ab.png)

Please let me kn

[2021-08-10 08:06] paulgrav commented on #4715
Thanks for the update.

I think indexing them in logs makes sense. That’s all the span events are. Our current workaround is to not call the Span Event API and send the data to stdout.

The workaround itself isn’t onerous, it’s a small code change. We have multiple services using the Jaeger tracer, traces are stored in ES, and are queryable in the Jaeger UI. Span logs, as they are known in the Ope

[2021-08-10 08:27] axw commented on #5707
I did see the component templates, but they didn't contain the default mappings/settings.

I was missing the bug linked at the bottom of the description: https://github.com/elastic/kibana/issues/105603

[2021-08-10 08:57] #5708 closed

[2021-08-10 10:12] #5898 closed

[2021-08-10 17:23] simitt commented on #5755
@cyrille-leclerc I do not follow this bug report. What needs to be changed/where do you see discrepancies with the apm-server?

[2021-08-11 03:01] graphaelli commented on #2631
@axw posting your notes here for safe keeping.  Regarding options for moving to`date_nanos` `@timestamp`:

* `@timestamp` as `date_nanos` with a default format of `epoch_millis` and a runtime field for `<foo>.timestamp.us` until we can move fully onto `@timestamp`.
* UI uses the fields API to query `@timestamp` with format `strict_date_optional_time_nanos`, and also queries `<foo>.timestamp.us` an

[2021-08-11 08:21] kseniia-kolpakova commented on #3896
We have this planned in our roadmap for this year for all Observability. Let's collaborate on this.

[2021-08-11 13:29] Dmitry31 commented on #3338
Any future for this feature? There is no clear statement in the documentation about OpenTracing and OpenTelemetry support. Looking around on github I feel like Jaeger support is no more a priority as OpenTracing merged into OpenTelemetry ... But OpenTelemetry logs specs are in experimental state so no support neither?

[2021-08-11 13:32] axw commented on #3338
@Dmitry31 Jaeger span logs are equivalent to OpenTelemetry span events, so when we get to https://github.com/elastic/apm-server/issues/4715 we will be able to address this too.

[2021-08-12 03:15] axw commented on #2631
For discussion, some things I'd like to look at for 8.0:

- remove index template, ILM policy, pipeline setup & related config -- move all setup to integration package
- remove old index selector support, always create data streams (https://github.com/elastic/apm-server/issues/5914)
- remove dedicated Jaeger port (now that we have it muxed on 8200)
- align standalone config defaults with integrati

[2021-08-12 10:22] axw commented on #5850
Do any of these fields need to be indexed? i.e. do they need to be searched or aggregated, or only available for human consumption?

[2021-08-12 23:21] bmorelli25 commented on #5899
Related to https://github.com/elastic/beats/issues/20584

[2021-08-13 01:32] axw opened #5936 "Investigate feasibility of calculating breakdown metrics"
Currently if someone uses OTel or Jaeger, the "time spent by span type" will be empty: https://github.com/elastic/apm/issues/471. The reason behind this is that breakdown metrics are computed by agents.

As an alternative, we could hypothetically have a feature where APM Server computes breakdown metrics. Similar to tail-based sampling, it would work by buffering events. When a transaction is rece

[2021-08-13 06:27] felixbarny commented on #5936
That was one of the main reasons why we implemented breakdown metrics in agents. With APM Server running on the edge that certainly becomes viable again.
We might even want to do that when receiving data from our agents. Our agents could disable breakdown metrics based on which APM Server version they're running on.

[2021-08-13 15:01] #5098 closed

[2021-08-13 15:01] #5698 closed

[2021-08-16 07:40] simitt opened #5948 "[docs] Document upgrade order when moving asset setup to Kibana"
When Kibana (Fleet) takes care of the APM package installation and upgrade (installing templates, pipelines, etc), a more strict upgrade order will be required, where ES and Kibana need to >= APM Server version.
This will be the case for managed APM Server and for standalone APM Server >= `8.0`.

This needs to be reflected in
* [ ] support matrix
* [x] docs #7103

[2021-08-16 10:15] Mpdreamz opened #5949 "Return 503 while server is in wait-for-integration loop."
Currently the server delays binding HTTP until it knows the downstream dependencies are set up.
To be precise it does this when `apm-server.data_streams.wait_for_integration` is set to true, also defaults to `true` when `apm-server.data_streams.enable` is set.

This has a potential knock on affect on agents trying to connect and timing out their batch operations.

If the server binds immediately b

[2021-08-16 10:17] Mpdreamz opened #5950 "Return 429 when queue is full"
Currently when APM's queue is full the server starts responding with a `503`

[code]

Opening the discussion to return a `429` instead which could signal agents to back-off incrementally.

This would also help diagnosing queue is full vs unavailability issues do to [downstream issues](https://github.com/elastic/apm-server/issues/5949).

It also brings us inline with how Elasticsearch signals its (

[2021-08-16 12:40] axw commented on #5125
This will be fixed by #5952, which removes the data stream creation from standalone apm-server.

[2021-08-16 22:41] bmorelli25 commented on #3569
@graphaelli Is this still something we want to do?

[2021-08-16 23:02] graphaelli commented on #3569
Yes, this is still important.

[2021-08-17 07:16] axw commented on #2631
Another thing just popped up while I was looking into our dependence on "classic indices": the original source mapping storage implementation. APM Server indexes and searches sourcemaps in `apm-<version>-sourcemap`.

Users can now upload sourcemaps to Kibana, but currently the only way APM Server can receive them is through Fleet. If we are going to maintain support for sourcemapping in standalone

[2021-08-18 04:48] axw commented on #2631
Remove `apm-server.instrumentation.*` config -- replaced by `instrumentation.*` many releases ago.

[2021-08-18 07:38] simitt opened #5959 "Release updated apm-package for 7.15"
Update apm-package for `7.15` release.

* [ ] remove template information that became obsolete when introducing the custom policy editor https://github.com/elastic/kibana/issues/91412
* [ ] update tail sampling datastream name https://github.com/elastic/apm-server/pull/5952

[2021-08-18 08:00] axw opened #5960 "[OpenTelemetry] kafka metrics not correctly recorded"
Copied from https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4432

**Describe the bug**

Values of Kafka metrics scrapers are somehow not correctly transformed when using otlp/elastic exporter
Therefore the results of Logging exporter do not match the results shown on kibana.
ex) logging Exporter;;; Value: 486 => oltp/elastic Exporter;;; "kafka.consumer_group.offset_sum": [

[2021-08-18 08:30] cyrille-leclerc commented on #5755
@simitt are the screenshots below explaining it well?
![image](https://user-images.githubusercontent.com/459691/129864961-e28ba26b-d732-4b17-a961-f9eaf560801d.png)
![image](https://user-images.githubusercontent.com/459691/129865330-3cc48189-eba4-45a7-b223-12922e844316.png)

[2021-08-18 09:19] simitt opened #5961 "Remove Elasticsearch setup, default to waiting for data streams to be set up"
Follow up on https://github.com/elastic/apm-server/issues/5914

In `7.x` an option is introduced to wait for data streams to be set up before writing to data streams. The option is disabled by default. When this option is enabled, APM Server waits for the integration package to be installed before writing any data.

In `8.0` we will
* remove the ability to setup Elasticsearch
* always write to dat

[2021-08-18 09:31] simitt opened #5963 "Switch labels and numeric_labels type to flattened"
Change the type of `labels` and `numeric_labels` fields to flattened types. This shouldn't need to be considered a breaking change.

Depends on support of flattened fields in ES and Kibana (elastic/elasticsearch#61550, elastic/ecs#1341 (comment))

targeted in `> 8.0`

[2021-08-18 09:31] simitt commented on #3873
The proposed way of moving foward with this in `8.0` is to have
* `labels` (`keyword`) - containing strings and booleans stored as strings
* `numeric_labels` (`scaled_float`) - containing numbers

Once the flattened fields are fully supported in ES and Kibana (https://github.com/elastic/elasticsearch/issues/61550, https://github.com/elastic/ecs/pull/1341#issuecomment-816014810) the `type` of the `

[2021-08-18 09:52] #5125 closed

[2021-08-18 10:09] simitt commented on #1678
Reopening and targeting `8.0`; updated the description to reflect current status and plans.

[2021-08-18 10:12] simitt commented on #1678
Next steps:
* [ ] track down required alignment on `@timestamp` values for logs UI (ECS specifies type `date` https://www.elastic.co/guide/en/ecs/current/ecs-base.html#field-timestamp) and impact when changing to `date_nanos`

[2021-08-18 18:06] simitt opened #5967 "Fix check-docker-compose target if no snapshots are available"
For the `7.15` branch https://github.com/elastic/apm-server/pull/5965/commits/55f1bf0aa8c07204889d2bd958fc922e1a0060b8 removed the `check-docker-compose` command, as it was failing due to no snapshot being available yet.

The `check-docker-compose` target was introduced in https://github.com/elastic/apm-server/pull/5035 to ensure that the used docker images are kept in sync. The target should be s

[2021-08-18 19:24] graphaelli commented on #5949
I think this apm-server should queue events until full while waiting for the integration to be installed, just like it would if es was unavailable.

[2021-08-19 07:18] axw opened #5971 "Add message field to error docs"
Copy/alias `error.exception.message`/`error.log.message` to the ECS `message` field. This is particularly important when emitting data streams, as errors will go into a `logs-apm.error-*` data stream and hence be picked up by the Logs app.

[2021-08-20 00:47] #5971 closed

[2021-08-20 04:13] axw commented on #5465
We're considering adding comparison across dimensions other than time, e.g. comparing performance across AZs so we can correlate performance to infracture issues (i.e. one AZ may be experiencing issues, and that explains why service performance degraded). For this we may want to _add_ some fields, namely cloud provider fields.

[2021-08-20 08:07] Mpdreamz commented on #5949
On the fence about queueing, ES being unavailable is something that could potentially resolve itself.

Here we know ES/Kibana is available but not configured correctly and requiring manual configuration.

In cases where the stack is updated before the server the time to resolve the failure is low and a typical upgrade should have already installed the integration before upgrading standalone server

[2021-08-20 09:55] simitt opened #5985 "Concept for agent based metrics collection of APM Server"
Moving towards an Elastic Agent managed APM Server requires some changes in the metrics collection and/or visualization to continue providing useful insights into the APM Server's behavior.

## Status quo APM Server standalone
There are a couple of different options how apm-server metrics can be shipped to ES. They are explained in detail in the [APM Server Monitoring docs](https://www.elastic.co/

[2021-08-20 09:59] simitt opened #5986 "Test Stack Monitoring behavior for Elastic Agent managed APM Server"
Ensure that the Stack Monitoring UI works as expected for APM Server instances that are managed by the Elastic Agent.

This needs to be tested for the ESS/ECE setup, but also for on-prem users. Collect details for on-prem setup as precondition for the [documentation issue](https://github.com/elastic/apm-server/issues/5987).

Reach out to @simitt for detailed test options.

[2021-08-20 11:24] simitt opened #5987 "[docs] Document how to enable Stack Monitoring with agent managed apm-server"
The agent can be configured to expose its suprocesses' metrics as http endpoint by setting `agent.monitoring.http.enabled: true` (exposes processes on `host:port/processes `where the default port is `6791`). An external metricbeat needs to be configured to collect metrics from these endpoints to ship data to ES indices, with moving slightly changed fields to the structure that is expected by Stack

[2021-08-20 11:41] simitt opened #5988 "[docs] Document how to customize index settings and ILM policies for managed apm-server"
By default, an empty custom component template is created per data stream. If users want to change index settings and/or ILM policies they can use these component templates for any customization. Custom templats are not overwritten on upgrade.

* `GET _index_template/<data-stream>` to identify the custom component template name (`composed_of`)
* `GET _component_template/t<custom-component-name>` t

[2021-08-20 11:52] simitt opened #5989 "Define upgrade process from 7.last to 8.0"
Define upgrade process for

* APM Server standalone: consider changes for setup and writing to data streams (https://github.com/elastic/apm-server/issues/5914), aim for minimal user interaction
* APM Server managed: should not contain any manual user interaction
* APM Server on ECE/ESS (first switch from standalone to managed, then upgrade version)

consider wheter
* there are any data that need t

[2021-08-20 12:24] simitt opened #5990 "Remove APM Server OSS artifacts"
Remove APM Server OSS artifacts from
* [ ] homebrew: https://github.com/elastic/homebrew-tap/
* [ ] downloads page: https://www.elastic.co/downloads/apm
* [ ] apt and yum: https://www.elastic.co/guide/en/apm/server/current/setup-repositories.html

[2021-08-20 12:28] simitt opened #5991 "Block usage of processors in apm-server standalone"
Usage of processors was never officially supported or tested for apm-server. For forwards-compatibiliy, block any usage of processors from `8.0` onwards.

[2021-08-20 12:29] simitt opened #5992 "Align default values between standalone and managed apm-server"
For easier transition from standalone to managed apm-server, align default values of the standalone server to managed.

[2021-08-20 12:32] simitt opened #5993 "Ensure sourcemap logic works with data streams"
Sourcemap upload was moved to Kibana but it requires Fleet for consuming sourcemaps. To keep supporting sourcemap logic in apm standalone when switching to data streams, the apm-server needs to either use Fleet or query Kibana directly for fetching sourcemaps.

This issue includes exploration of different options and the actual implementation.

[2021-08-20 12:34] simitt opened #5994 "Stop writing onboarding indices"
Stop writing onboarding indices. From 8.0 on apm-server only uses data streams, and no privileges for creating indices should be required for the apm-server ES user.

Related to https://github.com/elastic/kibana/issues/100672#issuecomment-901855583

[2021-08-20 12:37] simitt opened #5995 "Remove copying deprecated span http fields"
Follow up to https://github.com/elastic/apm-server/pull/5396 - remove copying deprecated span http fields.

Align with the @elastic/apm-ui team.

[2021-08-20 12:39] simitt opened #5996 "Remove deprecated config settings"
* `apm-server.jaeger.*`
* `apm-server.instrumentation.* `
* `apm-server.secret_token`
* `apm-server.api_key`

[2021-08-20 12:41] simitt opened #5997 "Stop storing unsampled transactions"
Stop storing unsampled transactions by setting `apm-server.sampling.keep_unsampled: false`.

This probably breaks alerting and ML job. Figure out what needs to be done to make this a smooth change with as little user impact as possible. (Collaborate with the @elastic/apm-ui team on this).

[2021-08-20 12:43] simitt opened #5998 "log warning that unsampled transactions won't be stored by default in the future"
Related to https://github.com/elastic/apm-server/issues/5997 log a warning that from `8.0` on unsampled transactions won't be stored any more by default.

Consider deprecating the config setting `apm-server.sampling.keep_unsampled ` - as it should be removed in the future.

[2021-08-20 12:44] simitt opened #5999 "Replace <event>.duration.us with event.duration"
Replace `<event>.duration.us` with `event.duration` - align with the UI team.

[2021-08-20 12:45] simitt opened #6000 "Remove span.start.us"
Remove `span.start.us` - it is not used anymore (already captured in `@timestamp`).

[2021-08-20 12:59] simitt opened #6001 "Create data stream specific pipelines"
Avoid installing unnecessary pipelines for data streams. Change the logic that copies the pipelines from the standalone apm-server to the apmpackage to only copy the pipelines that apply for the data stream. This will speed up the apmpackage installation in Fleet.

[2021-08-20 13:04] simitt opened #6002 "Create experimental output using go-elasticsearch"
Introduce an experimental output using go-elasticsearch, avoiding libbeat output.

see https://github.com/elastic/apm-server/pull/5970

## Goal:
* Get an understanding for involved effort, potential issues and shortcomings
* Get a rough understanding of performance implications

[2021-08-20 13:09] simitt opened #6003 "[meta] Collect settings and features to deprecate"
* deprecate Intake API endpoint `v2/rum `
* deprecate `apm-server.auth.secret_token` support in favor of using API Keys - this needs more investigation related to OpenTelemetry auth

[2021-08-20 22:26] sqren commented on #5997
Alerting now uses transaction metrics when enabled. Correlations and ML jobs are still WIP.

[2021-08-23 09:25] simitt commented on #3821
Apologies for never coming back to you @bmorelli25 and thanks for putting up the PR!

[2021-08-23 10:34] axw commented on #1678
The APM app itself appears to have no problems with `date_nanos`. I installed the integration, edited the index templates (changing `date` to `date_nanos` for `@timestamp`), and modified https://github.com/elastic/apm-server/pull/5970 to encode events with nanosecond precision.

I then sent some events and the APM app does not appear to have any problems with this.

I've found a couple of issues s

[2021-08-23 11:09] hansh0801 opened #6008 "jvm metric data is not visible in opentelemetry java agent v1.3.0 version"
**APM Server version** (`apm-server version`):
v7.14.0

**Description of the problem including expected versus actual behavior**:

after upgrade to elastic 7.14 apm, we could check jvm metrics in opentelemetry java agent v1.2.0 and other minor versions.
but cannot find jvm metrics on opentelemetry java agent v1.3.0.

<img width="1521" alt="otel-java-1 0 1" src="https://user-images.githubuserconten

[2021-08-23 13:11] axw commented on #1678
Given that we'll need this anyway, I guess there's not much point in removing `timestamp.us`.

My new proposal is:
 - update `timestamp.us` to be non-indexed; it is never queried AFAICS
 - keep `@timestamp` as `date` for now, until ECS officially supports `@timestamp` being `date_nanos` (https://github.com/elastic/ecs/issues/1065) and https://github.com/elastic/kibana/issues/88290 is fixed
 - when

[2021-08-23 15:06] stuartnelson3 commented on #4824
@simitt @axw preference on how to manage this? I'd be inclined to add it as a manual release step, similar to updating beats.

[2021-08-23 15:19] stuartnelson3 commented on #4830
Looking at these two issues:
- https://github.com/elastic/apm-server/issues/5853
- https://github.com/elastic/apm-server/issues/5477

Do we want both of these? It seems like we would be fine doing one of the other -- either apm-server requests the binary download from agent, or the attacher handles it on its own.

Since this behavior is already available in the attacher, it seems like that might b

[2021-08-23 17:06] felixbarny commented on #5477
Closing in favor of https://github.com/elastic/apm-server/issues/5477

[2021-08-23 17:06] #5477 closed

[2021-08-23 20:28] #3479 closed

[2021-08-23 22:09] cyrille-leclerc commented on #6008
We faced the same problem on the Jenkins OpenTelemetry plugin and we had to revert from Otel Java SDK 1.3.0 to 1.2.0.

@v1v  captured details on https://github.com/jenkinsci/opentelemetry-plugin/pull/134

[2021-08-23 22:13] #3821 closed

[2021-08-23 22:23] cyrille-leclerc commented on #6008
@axw FYI we can see on @v1v 's https://github.com/jenkinsci/opentelemetry-plugin/pull/134 that the data type changed from `DoubleGauge` to `IntGauge`. I couldn't find explanations looking at the release notes of OpenTelemetry projects.

[2021-08-24 02:22] axw commented on #4830
I see Felix closed the Elastic Agent method issue. Going with #5853 SGTM too. We may want to revise this later to support airgapped environments, but we don't need to worry about that just now.

[2021-08-24 02:30] axw commented on #4824
Updating manually sounds fine to me.

I'd prefer not to commit the jar to the repo. We could instead inject them into the packages, fetching them at package build time: https://github.com/elastic/apm-server/blob/67548186320f36367c3b641761657620107cbd97/magefile.go#L372

WDYT @stuartnelson3?

[2021-08-24 03:45] hansh0801 commented on #6008
@cyrille-leclerc
From my experience, https://github.com/elastic/kibana/pull/102346
because of that issue,
When using Elastic 7.13, it was not possible to display metrics collected by all opentelemetry java agents such as opentelemetry java agent v1.2.0, v1.3.0, etc.
After upgrading to Elastic 7.14, there is a problem that data is not visible in v1.3.0 as shown.
I haven't tested the java agent v1.4

[2021-08-24 03:55] axw commented on #1678
Found a bug in Kibana/Fleet: https://github.com/elastic/kibana/issues/109764

I believe the UI is currently extracting all fields from `_source`, rather than using the Fields API. We would need to migrate to the Fields API to make use of runtime fields: https://github.com/elastic/kibana/issues/84507

[2021-08-24 07:42] stuartnelson3 commented on #4824
That sounds fine to me, then we just update the fetch url in the magefile

[2021-08-24 08:07] felixbarny commented on #4830
The Fleet/Agent Team wasn’t keen on exposing an API to APM Server to
explicitly download a binary. They want Agent to handle dependency
management. The long term plan is to have subpackages but that’ll take a
while.
For the experimental version works via maven central.

On Tue 24. Aug 2021 at 04:22 Andrew Wilkins ***@***.***>
wrote:

[2021-08-24 08:31] simitt opened #6034 "Speed up systemtests"
The systemtests currently take ~25m on CI:

Python Tests (~16minutes):
* 10 minutes for initial downloads, builds and starting of the environment
* 6 minutes for running the python tests

Go System Tests (~9minutes) :
* 56s: `TestAgentConfig`
* 36s: `TestFleetIntegrationAnonymousAuth`
* 36s: `TestTailSamplingUnlicensed`
* 29s: `TestFleetPackageNonMultiple`
* 22s: `TestTailSampling`
* 14s: `TestAPM

[2021-08-24 10:09] axw commented on #5478
This can't be tested as it's not wired up yet.

[2021-08-24 10:44] dikshachauhan-qasource opened #6037 "Log level value not displayed for generated APM log."
**Kibana version:**
7.15 BC1 Kibana Cloud Cloud-prod environment

**Host OS and Browser version:**
APM & Fleet, All

**Preconditions**
1.  7.15 BC1 Kibana Cloud Cloud-prod environment should be available.
[code]
2. Managed host should be available under Agents tab.

**Steps to reproduce:**
1. Enable logs and metrics at cloud deployment.
2. Wait for 1-2 mins for action to complete.
3. Got to stack

[2021-08-24 10:47] axw commented on #3478
Now that we've got a Fleet-based implementation of agent config, let's close this instead of investing more effort and time on the old way.

[2021-08-24 10:47] #3478 closed

[2021-08-24 13:09] #5967 closed

[2021-08-25 00:51] wajika opened #6039 "Suggestion: The error message can be easier to read and understand"
[282041](https://discuss.elastic.co/t/how-to-import-template-for-es-7-12-0/282041/6)
I ran into some problems a few days ago and I couldn’t interpret the wrong prompt
Such as
`"Failed to parse mapping [_doc]: template must have match, path_match or match_mapping_type set {mapping={type=histogram})"`
And
`{"Error":{"root_cause":[{"type":"mapper_parsing_exception","reason":"No type specified for fie

[2021-08-25 10:04] axw commented on #6039
@wajika thanks for your suggestion. I agree, it's hard to understand how to resolve this error.

The error comes from Elasticsearch, so if we were going to add context to the error message it would have to be there. However, we are moving away from having APM Server setup Elasticsearch itself, and instead relying on Fleet (Kibana) to do that: https://github.com/elastic/apm-server/issues/5961. When

[2021-08-26 03:44] axw opened #6050 "beater: when reloading config, new listener may not be started by the time the old one is stopped"
**APM Server version** (`apm-server version`):

7.15.0 BC2

**Description of the problem including expected versus actual behavior**:

When reloading config, the server's new socket listener starts concurrently with stopping the old one. This means there is a short time window where clients may not be able to connect when reconfiguring the server (which may be implicit, e.g. by uploading a source

[2021-08-26 07:58] #6050 closed, assigned to axw

[2021-08-26 10:04] axw opened #6059 "Add Kibana index pattern(s) to the integration package"
The APM UI installs an index pattern so that users can view APM documents in Discover, which requires index patterns. This is particularly important because of the `View sample document` actions in the APM UI, which take the user from the APM UI to Discover.

The index pattern is built by apm-server (`apm-server export index-pattern`), and manually copied across to Kibana. This is cumbersome.

Fle

[2021-08-26 13:28] simitt opened #6060 "deprecate the APM Server standalone binary >= 8.0"
The default way of installing and running the APM Server will be to manage it via Elastic Agent from >= `8.0`. While some standalone binaries still continue to be distributed, they are going to be deprecated. We will need to flag this on the download page.

@bmorelli25 can you provide guidance around how to do this?

[2021-08-30 03:14] axw commented on #5039
Tested in https://github.com/elastic/apm-server/pull/5911.

[2021-08-30 03:14] axw commented on #4854
See https://github.com/elastic/apm-server/pull/5768 for test plan

[2021-08-30 04:25] axw opened #6068 "cgroup metrics no longer being reported"
Issue to track updating libbeat in the 7.15 branch after https://github.com/elastic/beats/issues/27598 is fixed.

[2021-08-30 07:29] hjmwijnen opened #6074 "index template has no match, patch_match or mapping_type"
**APM Server version** (`7.14.0`):

**Description of the problem including expected versus actual behavior**:
The dynamic index template mapping for the histogram field has no match, patch_match or mapping_type set.

**Steps to reproduce**:

 1. Extract apm-server 7.14.0
 2. Export template: ./apm-server export template >template.json
 3. Observe histogram mapping has no match, patch_match or mapp

[2021-08-30 07:37] axw commented on #6074
Please create a topic at https://discuss.elastic.co/c/apm for unconfirmed bugs in the future.

If you don't specify `--es.version`, the exported template will be compatible with the same version of Elasticsearch as the APM Server version (i.e. 7.14.0). I'm guessing that you're using an older version of Elasticsearch. Can you please confirm which version of Elasticsearch you have?

If you have an o

[2021-08-30 08:05] hjmwijnen commented on #6074
ah, you are totally right, apologies for the inconvenience.. thanks!

[2021-08-30 08:05] #6074 closed

[2021-08-30 14:23] stuartnelson3 opened #6078 "Wait for integration with elasticsearch queries never resolves"
**APM Server version** (`apm-server version`):

[code]

**Description of the problem including expected versus actual behavior**:

Expected behavior:

If kibana is not enabled, apm-server should infer the apm-server integration has been installed by the presence of index templates in elasticsearch.

Actual behavior:

After installing the integration, apm-server continues to not find the index temp

[2021-08-30 14:27] stuartnelson3 commented on #6078
Note: The original PR has `traces-sampled`, which I see present in my index templates. This was changed to `traces-apm.sampled` in https://github.com/elastic/apm-server/pull/5952.

[2021-08-30 23:43] axw commented on #6078
@stuartnelson3 did you install integration version 0.4.0, using a local registry? The latest package should install `traces-apm.sampled`.

[2021-08-31 00:09] #5910 closed

[2021-08-31 01:54] axw opened #6085 "Don't create high cardinality transaction names in self-instrumentation"
When `instrumentation.enabled: true` is configured, apm-server uses `go.elastic.co/module/apmhttp` to instrument its HTTP server: https://github.com/elastic/apm-server/blob/ad6601dfb8d064a4b1e1b7c16c4a8475b944a6d7/beater/server.go#L160

Because we're using the low-level apmhttp wrapper, and not a router-specific instrumentation, transactions are simply named after the URL path. This can lead to hi

[2021-08-31 02:50] axw commented on #6059
Turns out the Fleet does not honour the index pattern assets in packages, so it's not currently possible. I'll open an issue about that soon.

[2021-08-31 04:19] axw commented on #5707
Moving this back to blocked for 7.16, until https://github.com/elastic/kibana/issues/105603 is fixed.

[2021-08-31 06:33] stuartnelson3 commented on #6078
I did not, I'll do that now

[2021-08-31 08:32] stuartnelson3 commented on #6078
Issue was fixed using the apmpackage 0.4.0

[2021-08-31 08:32] #6078 closed

[2021-08-31 10:05] axw commented on #6059
Given that Fleet doesn't currently install package-specified index patterns, I'm no longer sure this is the right direction.

I think we can pare back the index pattern we install to the bare essentials: the timestamp field and index pattern. Kibana should use field metadata (via _field_caps) for deciding the appropriate default formatter. I think that's all we need. Seems overkill to implement in

[2021-08-31 11:49] sqren commented on #6059
I just want to call out that we don't strictly need the index pattern from APM Server to do this. With a small adjustment the index pattern can be generated automatically when Kibana starts up. The only disadvantage is that any custom formatters set by beats won't be applied. Is that something we want to do instead?

[2021-08-31 12:59] axw commented on #6059
IMO, for the sake of simplicity we should do that. Maybe we could hard code a handful of field formatters in Kibana code then? They won't be changing frequently. Longer term I'm hoping we can just rely on Kibana to pull field metadata out of _field_caps, and there'll be no need to hard code anything.

[2021-08-31 13:40] simitt opened #6095 "anonymous auth not respected for ios agent"
## Expected behavior
When enabling APM Server with a secret token and enabling anonymous auth, requests from the [iOS agent](https://github.com/elastic/apm-agent-ios) should not require having a secret token set when the `apm-server.auth.anonymous.allow_agent` config contains `iOS/swift`.

## Observed behavior
Requests from an iOS agent where no `secret-token` is configured fail with following err

[2021-08-31 14:13] sqren commented on #6059
Yes, that sounds doable.

[2021-08-31 14:31] sqren commented on #6059
Created https://github.com/elastic/kibana/issues/110635 to track this for apm ui

[2021-09-01 00:43] axw commented on #6059
Thanks @sqren, I'll close one this for now then.

[2021-09-01 00:43] #6059 closed

[2021-09-01 00:51] axw opened #6099 "txmetrics: add cloud provider/region/AZ properties to metric dimensions"
We should add cloud provider, region, and availability zone fields to the transaction metrics aggregation dimensions. We already aggregate on host name, so this will not change the cardinality. Adding these fields will enable the APM UI to display cloud details on the service overview when only metrics are available.

[2021-09-01 02:53] axw commented on #6095
Hmm. I can't test with the iOS agent, so I just tested now with opentelemetry-go. I manually set the resource attributes `telemetry.sdk.name=iOS` and `telemetry.sdk.language=swift`, and that worked.

I wonder if there's some issue with how the resource attributes are coming across from the iOS agent? Can you disable auth and capture a doc, and check that `agent.name` looks as expected?

[2021-09-01 07:47] #6095 closed

[2021-09-01 08:54] #5274 closed

[2021-09-01 09:02] simitt opened #6105 "Update apm-server license from Elastic v1 to v2"
Update license from ELv1 code to ELv2.

[2021-09-02 07:01] #6008 closed

[2021-09-02 09:24] axw commented on #6068
Confirmed with 7.15.0 BC4 in gcp-europe-west1.

![image](https://user-images.githubusercontent.com/843579/131818745-62d6a9c5-10d9-4f74-b1d1-ada3c3d93209.png)

[code]

[2021-09-02 09:24] #6068 closed

[2021-09-02 14:49] sqren commented on #5505
This came up in a meeting with the ML team.
A prerequisite for detecting latency anomlies in metric docs is that they are sorted by `@timestamp`. Possible to make that a priority?

cc @axw

[2021-09-02 19:57] graphaelli commented on #5997
Depends on https://github.com/elastic/kibana/issues/108466

[2021-09-02 20:30] graphaelli commented on #5505
Upon further discussion with @sqren and @simitt we'll tackle this as part of https://github.com/elastic/kibana/issues/101734 but only for the metric streams at first.  Can we confirm here that we can (and that it makes sense to) apply index sorting to a single data stream and not all data streams written by apm-server?

[2021-09-03 02:13] axw opened #6115 "Re-investigate using rally"
We have an APM [Rally track](https://github.com/elastic/apm-server/tree/master/rally), which isn't being used and is extremely outdated. Having an up-to-date Rally track would be useful for testing changes such as https://github.com/elastic/apm-server/issues/5505.

I would like us to investigate using Rally once again.

We should consider using canned agent data (intake/v2, OTLP) as the stable ben

[2021-09-03 02:13] axw commented on #2084
Closing this in favour of https://github.com/elastic/apm-server/issues/6115

[2021-09-03 02:13] #2084 closed

[2021-09-03 03:04] axw commented on #5505
Is it acceptable to only do this for data streams, and not for classic indices? I think it will be considerably more difficult to do for only one classic index.

It's straightforward to define index sorting per data stream when using the integration package:

[code]

This will lead to the creation of a component template `metrics-apm.internal@settings`.

[2021-09-03 03:38] graphaelli commented on #5505
I think that's acceptable.  By the time we drop unsampled transactions by default data streams will be the only option.

[2021-09-03 11:01] dgieselaar commented on #5505
Are we _only_ going to sort on @timestamp? The recommendation from Jim F was to sort on these fields as these are our main grouping fields and it would speed up aggregations.

[2021-09-03 17:12] bmorelli25 commented on #6060
Sure can. I've opened elastic/observability-docs#1023 to track all of the related changes for 8.0.

[2021-09-04 02:57] axw commented on #5603
Let's keep apmbench about benchmarking apm-server itself. We should use Rally for benchmarking Elasticsearch ingestion, and measuring disk usage: https://github.com/elastic/apm-server/issues/6115

[2021-09-04 02:57] #5603 closed

[2021-09-04 03:04] axw commented on #5505
@dgieselaar no not only, that's why I left this open. Before adding those fields to the sort I'd ideally like to do some testing, particularly around the order of sort fields and its impact on document clustering/compression.

[2021-09-06 06:45] axw commented on #5914
Related: https://github.com/elastic/apm-server/issues/5950 https://github.com/elastic/apm-server/issues/5949

[2021-09-06 07:17] wong2 commented on #5421
Yes, I'm looking for this instruction.

[2021-09-06 07:18] wong2 commented on #5421
Does APM Server support OTLP/http ?

[2021-09-06 07:27] axw commented on #5421
@wong2 APM Server currently only supports OTLP/gRPC.

[2021-09-06 07:38] cyrille-leclerc commented on #5373
Just discovering this limitation, the solution to create a transaction looks very wise to me, I feel it makes this improvement a lower priority.

[2021-09-06 12:33] wong2 commented on #5421
This doc is very necessary, it's hard to correctly config APM Server with gRPC. We're running APM Server in kubernetes

[2021-09-06 12:33] #3338 closed

[2021-09-06 12:33] #4715 closed

[2021-09-06 12:38] axw commented on #6034
https://github.com/elastic/kibana/issues/110500 will help with this. Increasingly, as we keep adding tests which rely on data streams.

[2021-09-06 15:43] cachedout commented on #5858
Haven't seen this error again so I'm going to close this and we can re-open it if it comes back.

[2021-09-06 15:43] #5858 closed

[2021-09-06 22:52] axw commented on #5858
@cachedout thanks, and sorry for the silence. Our "system tests" have been getting increasingly slower (https://github.com/elastic/apm-server/issues/6034), so I wouldn't be surprised if this comes back. We may need to increase the timeout, but let's wait and see.

[2021-09-07 09:55] simitt opened #6128 "Add support for otlp protobuf over http receiver"
The APM Server can currently act as otlpreceiver for `grpc`, but support for `http` is missing. Implement support for the [otlphttp](https://github.com/elastic/apm-server/blob/master/internal/otel_collector/receiver/otlpreceiver/otlphttp.go#L36) receiver.

[2021-09-07 10:06] axw commented on #5421
@wong2 we'll try to take a look at documenting this soon. You may also want to subscribe to https://github.com/elastic/apm-server/issues/6128, if you are interested in OTLP/HTTP support.

[2021-09-07 16:25] #5853 closed

[2021-09-08 02:51] axw commented on #5949
We can't know if the integration is installed or not if Elasticsearch is unavailable. I'd prefer to have fewer special cases, so I'm going to go with the enqueuing approach for now. I'm about to put up a PR which just blocks all Elasticsearch client requests (aside from the index template checks) until the integration package is known to be installed. The result of this is that the server will beh

[2021-09-08 04:41] axw commented on #5491
Logs is now beta: https://github.com/open-telemetry/opentelemetry-proto/pull/311

[2021-09-08 07:59] axw commented on #5707
No longer blocked.

[2021-09-09 01:39] #5949 closed

[2021-09-09 05:43] axw commented on #5707
Using the latest 8.0.0-SNAPSHOT Kibana image, here's how templates look now.

`traces-apm` index template settings:

![image](https://user-images.githubusercontent.com/843579/132628478-c49663f2-d3eb-4184-b47c-dd0625b60702.png)

`traces-apm@settings` component template:

![image](https://user-images.githubusercontent.com/843579/132628550-859f7cd6-e805-41be-858f-88e361d8259e.png)

I then edited `tra

[2021-09-09 07:47] axw commented on #3740
We're deprecating Elasticsearch setup, and will be relying on the integration package for installing Elasticsearch assets (https://github.com/elastic/apm-server/issues/5914). There will be no more field inheritance from beats. Not worth fixing for the remainder of 7.x.

[2021-09-09 07:47] #3740 closed

[2021-09-09 16:51] vchirikov commented on #5491
Do you have a plan or estimate when the apm server will be able to receive otel logs?

[2021-09-09 17:23] simitt commented on #5707
Thanks for following up on that. Yes agreed, having the mappings in the index template makes sense. The important part is that users can add mappings and that they can modify settings. So LGTM.

[2021-09-10 00:13] axw commented on #5707
Great, I think we can call this done then.

[2021-09-10 00:13] #5707 closed

[2021-09-10 01:27] axw commented on #5491
@vchirikov no, we don't currently have this scheduled.

[2021-09-11 01:06] #5914 closed

[2021-09-13 02:06] axw opened #6153 "Document client.ip derivation its use in anonymous auth rate-limiting"
We should document:
 - How `client.ip` is derived. i.e. Which headers, such as X-Forwarded-For, are used.
 - That `client.ip`is used in rate limiting for anonymous auth, e.g. for RUM.

This is important for users configuring their own load balancers/reverse proxies.

[2021-09-13 08:59] IASecurity commented on #5421
Just found this thread during our troubleshooting of OTLP via gRPC over HTTP2 on our Elastic ECE setup in AWS.

We have successfully configured the ALB as HTTP2 and the Target Group for proxy nodes as HTTP2 - which does make the OpenTelemetry Exporter able to ship metrics and application traces to the individual deployments inside our platform.

We didnt have to do any ALB rules at all - as it see

[2021-09-13 09:54] simitt commented on #5850
@AlexanderWert can you help figure out whether these fields are purely informational or supposed to be indexed/aggregatable?

[2021-09-13 10:34] AlexanderWert commented on #5850
In the first place we would use them to show the dropped spans statistics for individual traces / transactions (thus, for this use case the fields are rather informational).
However, we should ensure that these values are considered when destination metrics are calculated by the APM server, otherwise the destination metrics would miss information / show wrong numbers.

@felixbarny do I miss someth

[2021-09-13 12:35] axw commented on #5421
@IASecurity wonderful! Thank you for letting us know what you did to get things working.

[2021-09-13 15:37] stuartnelson3 commented on #5986
Tested with ECE running in AWS using version `7.16-SNAPSHOT`

[2021-09-13 20:25] IASecurity commented on #5421
As a bonus for the ones of you who use Terraform on ECE - its pretty simple to create ALB rules to inspect the content-type and point to a specific target group if gRPC is found :) - This way we can keep the endpoint as is - and enable our customers to use the existing apm aliases and ports they are used to.

`    https_listener_rules = [
    {
      https_listener_index = 0
      priority

[2021-09-14 09:36] felixbarny commented on #5850
Agree, these don't need to be indexed.

[2021-09-14 13:37] stuartnelson3 commented on #5986
This was incorrectly tested, issue is being re-opened

[2021-09-14 13:52] simitt commented on #4571
related https://github.com/elastic/beats/issues/27920

[2021-09-14 14:32] #6153 closed

[2021-09-14 15:21] cconboy opened #6170 "Default ILM template for APM uses hot/warm"
If I understand correctly, changing to hot only would lead to growth in hot indices. APM is using hot/warm intentionally as the best available strategy, and has been doing this for >1year, although the interaction with autoscaling is newer. I also understand there to be changes coming in 8.0 that indirectly fix this issue.

[2021-09-14 17:11] pcsanwald commented on #6170
hey @cconboy thanks for opening the issue. The issue we've seen in the past is that customers are surprised when a warm tier is scaled into existence because of an ILM policy, which can happen for relatively small amounts of data. A representative salesforce case is 00766551, although there are plenty more examples.

The reason this is coming up in the context of autoscaling, is that autoscaling i

[2021-09-14 19:37] cconboy commented on #6170
@graphaelli @Mpdreamz

[2021-09-15 06:21] axw opened #6176 "Stop recording `transaction.duration.{sum.us,count}` metrics"
Agents capture and send `transaction.duration.sum.us` and `transaction.duration.count` metrics to apm-server, which we have been dutifully recording as part of transaction breakdown metrics. The original intention behind these was to enable metrics-based UI.

We now capture transaction latency distributions in apm-server, so the above mentioned metrics are no longer needed. They're not used anywhe

[2021-09-15 15:28] simitt commented on #6176
fyi @elastic/apm-ui

[2021-09-15 18:46] sqren commented on #6176
Sounds good to me. Not used in the ui.

[2021-09-16 01:08] #5084 closed

[2021-09-16 07:37] #6176 closed

[2021-09-16 09:29] simitt commented on #6170
Thanks for bringing this to our attention. The main reason why we chose to introduce hot/warm by default was that data become less interesting over time and therefore older data are not actively indexed and are expected to appear less frequently in searches.
If the default policy is causing issues, and a hot only default policy is preferred, I don't see a reason why we couldn't change that (prefer

[2021-09-16 10:44] vchirikov opened #6185 "[OpenTelemetry] OTLP import of counters and histograms don't work correctly"
**APM Server version** (`apm-server version`): `apm-server version 7.14.0 (amd64), libbeat 7.14.0 [af26b5a744b6af9bcccb04fade6435241ab91f43 built 2021-07-29 19:55:24 +0000 UTC]`

**Description of the problem including expected versus actual behavior**:

I tried to setup the following schema `otel-collector => apm-server => es` and ran into the problems with metrics.

Although [the official doc](ht

[2021-09-16 10:51] axw commented on #6185
This zero value issue looks similar to https://github.com/elastic/apm-server/issues/6008, which will be fixed in 7.15.0. That should be available soon.

I'm not sure why the error `Can't find dynamic template for dynamic template name [histogram] of field [my.histogram]\"` would be appearing though. How did you install APM Server?

[2021-09-16 10:56] vchirikov commented on #6185
I installed apm with [helm-chart](https://github.com/elastic/helm-charts/) version: 7.14.0
the apmConfig is here:
[code]

Do you need anything else?

p.s. the counter issue is similar to https://github.com/elastic/apm-server/issues/5960

[2021-09-16 12:36] #5753 closed

[2021-09-16 13:15] graphaelli commented on #6170
In that case I misinformed @cconboy on this point, I see now that it is indeed the same with data streams.  I agree changing this with 8.0+/data streams is tidy and users can customize their policies until then.

I assume the ILM policy is not updated on upgrade for data streams, just like for classic indexes, so this would only impact new installations and not upgrades?

[2021-09-16 13:30] marclop commented on #5229
@eyalkoren I opened an PR to add the fields to the intake API, how are these going to be used, are we planning on showing them in the UI? do they need to be indexed?

[2021-09-19 13:18] eyalkoren commented on #5229
Thanks @marclop

Note that this is about adding one field (`context.message.routing_key`) to both transactions and spans and possibly removing two fields only from spans

We should probably show them in the span/transaction details. I am not sure whether we need a UI task for that or if anything under `context` is automatically added to the context data table.

I believe they should. @SylvainJuge

[2021-09-20 02:12] axw commented on #6185
No, thank you. 7.15.0 should be available very soon. I'll ping when it is, and ask you to test again. I expect the issue will be resolved by the upgrade.

[2021-09-20 06:51] marclop commented on #5229
@eyalkoren, I think we'll hold off removing these fields from the Spans for now, we can always remove them as part of `8.x`, for now I think they'd introduce unnecessary complexity in the model and will make the Transaction and the Span have different fields that are allowed in regards with messaging.

@SylvainJuge Let me know if we should index the `routing_key` fields, the current open PR does n

[2021-09-20 14:11] SylvainJuge commented on #5229
I think that indexing `routing_key` would make sense too.

One thing to remember when adding support for this in the agents is that we must properly apply some normalization as random values could be used, we already do that for exchange and queue names.

[2021-09-21 22:33] riferrei commented on #6185
I have noticed similar behavior in an OTel application that I wrote in Go—looking forward to seeing the fix for this.

[2021-09-22 05:32] eyalkoren commented on #5229
Thanks @SylvainJuge !

Do you have an idea how we can apply such normalization logic?

[2021-09-22 06:32] axw commented on #5850
@felixbarny in the spec we have `dropped_spans_stats.count` and `dropped_spans_stats.duration.sum.us`. This is slightly different to other metrics we have, like `span.self_time.count` and `span.self_time.sum.us`.

Any objection to nesting `count` under `dropped_spans_stats.duration`, so it's similar? This would slightly simplify server code.

[2021-09-22 07:14] felixbarny commented on #5850
No objections.
Should we change the Intake API as well? Python has started the implementation but I don't think it's too late.

[2021-09-22 07:19] axw commented on #5850
@felixbarny I think it would make sense to align with other metrics sent by the agents (which I think is also nested), but I don't think this part matters so much. Whatever works for agents.

[2021-09-22 07:57] marclop commented on #5850
@axw sounds good, I missed the differences on implementation. One thing that sticks out is that the spec sets that the duration sum in microseconds, while `Sum time.Duration` base type is `time.Nanosecond`. https://github.com/elastic/apm-server/blob/d37d372c53fb54723e6a1b14a849162140d0d86d/model/metricset.go#L117-L124

Should we change the spec to reflect that (`duration.sum.us` => `duration.sum.n

[2021-09-22 08:36] AlexanderWert commented on #5850
@beniwohli FYI ☝️

[2021-09-22 08:42] axw opened #6223 "Add a delete phase to APM ILM policies"
APM data reduces in value as it ages. Users generally do not want to look at a distributed trace from 2 months ago.

We should consider adding a delete phase to APM's ILM policies to keep costs in check. Each data stream may retain data for a longer period by default; metrics consume less space and provide greater long-term value than individual traces.

[2021-09-22 08:46] axw commented on #6170
The server team has discussed this, and we have agreed to make the change for the APM Fleet integration that will go GA in 7.16. In 8.0, data streams will be the only way APM Server indexes data, and so the updated ILM policy will be the default.

We're not currently planning to change this for _standalone_ in 7.16, as it would be a breaking change in behaviour. I think we can debate this part.

[2021-09-22 09:47] eyalkoren commented on #5229
@marclop @SylvainJuge and I just discussed this and we can't currently come up with a good plan for identifying temporary/ephemeral routing keys in order to normalize them when they are such. Therefore, it's probably better to start with not indexing this field after all and figure this out only if and when there is a concrete demand.
Sorry for reverting our call here, but it seems to be the bette

[2021-09-22 09:55] marclop commented on #5229
@eyalkoren no problem, I'll reopen the issue and open up a PR to remove the mapping

[2021-09-22 11:51] pcsanwald commented on #6170
tagging @henningandersen as well to keep me honest in below comment:

the problem is basically that users are surprised that a warm tier is autoscaled into existence after 30 days, [relevant thread here](https://elastic.slack.com/archives/CT9C8SN66/p1631538128016500). So it's more that users do not realize their topology is going to change in 30d, and it can scale up a tier to deal with a relative

[2021-09-22 12:01] #5985 closed

[2021-09-22 15:14] simitt commented on #6170
The ILM policy _is_ updated on apmpackage upgrade. The updated policy is applied as soon as the datastream rolls over next time.

[2021-09-23 00:52] axw commented on #6185
@vchirikov 7.15.0 has been released. Can you please try again?

[2021-09-23 02:28] axw commented on #5850
@marclop that's just the in-memory representation, making it more natural to deal with as a duration. When we emit the Elasticsearch document, we still only emit microseconds.

[2021-09-23 02:55] axw commented on #5850
If we do change the intake protocol, maybe agents should send just `sum` as floating point milliseconds, similar to [composite spans](https://github.com/elastic/apm/blob/master/specs/agents/handling-huge-traces/tracing-spans-compress.md#composite-span)

[2021-09-23 06:43] marclop commented on #5850
@axw got it, I was just wondering if it made sense to align the units between the internal representation and the intake API, but looking at it again now, it doesn't seem like nanoseconds would be a good unit for aggregated spans, since they're unlikely to be in the low nanoseconds range.

[2021-09-23 06:45] #6170 closed

[2021-09-23 08:10] #5229 closed

[2021-09-23 09:57] simitt opened #6235 "[cloud] Provide upgrade experience from 7.16 to 8.0"
This is work where we need to keep track of, but won't be done in the apm-server:

* [x] newly created apm deployments >= 8.0 are running a managed apm-server
* [x] existing deployments with a standalone apm-server register a deprecation warning in the Upgrade Assistant (https://github.com/elastic/kibana/issues/113088)
  * [ ] Upgrade Assistant should support links in the manual instruction steps

[2021-09-23 12:36] #5850 closed

[2021-09-23 13:20] marclop commented on #5851
Resolved by #6200

[2021-09-23 13:20] #5851 closed

[2021-09-23 23:24] BlackYoup opened #6238 "runtime/cgo: pthread_create failed: Operation not permitted"
**APM Server version** (`apm-server version`):

apm-server version 8.0.0 (amd64), libbeat 8.0.0 [unknown built unknown] (current master but the issue also applies to previous apm-server version)

**Description of the problem including expected versus actual behavior**:

Since we upgraded to glibc 2.34, the apm-server crashes quite rapidly with the following error:

[code]

**Steps to reproduce**:

[2021-09-24 02:55] graphaelli commented on #6238
Thanks for the report!  I can confirm this reproduces as you described.  It also does appear to be related to seccomp.  Briefly, you should see something like this logged on startup:

[code]

The default policy for linux/amd64 is defined here: https://github.com/elastic/beats/blob/7e4affb6702a39f378170b8866f966d1b29e06fc/libbeat/common/seccomp/policy_linux_amd64.go#L25.  This policy can be redefin

[2021-09-24 08:59] BlackYoup commented on #6238
Thanks for the answer, your workaround seems to work fine indeed!

I'll open an issue in the beats repository, mentioning this one. Should we keep this issue open until apm-server has updated its dependency to beats?

[2021-09-24 10:57] leewoobin789 commented on #6185
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4432

Hello guys. i was the guy who opened this issue on opentelemetry side. it seems to be already resolved with the newest version of 7.15.0.

[2021-09-24 12:46] graphaelli commented on #6238
Yes, let's keep this open until the dependency update.  Thanks again!

[2021-09-25 13:49] vchirikov commented on #6185
I will wait for helm chart update (it's on 7.14 at the moment)

[2021-09-26 06:33] axw commented on #6185
@leewoobin789 thanks for the update. I'll close https://github.com/elastic/apm-server/issues/5960 then.

[2021-09-26 06:33] #5960 closed

[2021-09-27 16:51] cauemarcondes opened #6249 "Metrics duration not rounded as expected"
@sqren created [a tool](https://github.com/sqren/synthbeans-node) to generate predictable APM data. When executed it generates one service with two transactions and these transactions should have rounded statistics, such as latency, throughput, and failed transactions rate.

For the transaction documents the values are rounded.
<img width="2880" alt="Screen Shot 2021-09-27 at 12 47 20 PM" src="htt

[2021-09-28 04:45] mraliagha opened #6250 "APM server 7.15.0 breaks json value in capturing API body by not escaping quotes"
Since I have upgraded to APM server 7.15.0 (on Elastic cloud) when capture_body is enabled JSON body is stored in a single field. This is not different from the older versions. However, the value of JSON message stored is not normalised it means if there are any characters such as quotations in that field, it must be escaped. This is used to work in 7.14.x but seems to be broken after it's upgrade

[2021-09-28 06:05] dgieselaar opened #6254 "Timestamp of original event is disregarded for transaction/span metrics"
**APM Server version** (`apm-server version`):

7.15

**Description of the problem including expected versus actual behavior**:

Currently, when APM Server creates metricsets from transactions and exit spans, it will use its own timer to group and timestamp metrics, without taking the timestamp of the original event into account. This means that if data is delayed, it will be indexed into Elastics

[2021-09-28 09:49] felixbarny opened #6255 "Dotted field `http.request.body.original` breaks ingest processors"
In https://github.com/elastic/apm-server/pull/5764, `http: { request: { body { original: ...} } }` turned into `http: { request: { body.original: ...} } }`. This breaks ingest node processors that try to access the field `http.request.body.original`

More context and a reproducer in this forum thread: https://discuss.elastic.co/t/apm-capture-body-is-broken-after-upgrading-from-7-14-0-to-7-15-0/285

[2021-09-28 11:16] simitt commented on #6250
As clarified in the [discuss forum](https://discuss.elastic.co/t/apm-capture-body-is-broken-after-upgrading-from-7-14-0-to-7-15-0/285300), the escaping is fine, but the ingest processor is broken, as described in https://github.com/elastic/apm-server/issues/6255.

[2021-09-28 11:16] #6250 closed

[2021-09-29 07:45] simitt commented on #6254
Summarizing what @dgieselaar and I have discussed so far:

The transaction/span metrics are created by aggregating multiple events, which don't have the exact same timestamp. When the event's timestamps should be respected, we might need to add a timerange to the aggregation key. The event's timestamp could be rounded to define the lower and upper limit, for example creating a bucket of a 1 minute

[2021-09-29 13:49] SylvainJuge opened #6259 "OpenTelemetry Span attributes mapping for agent bridges"
Related specification PR : https://github.com/elastic/apm/pull/516

In order to minimize OpenTelemetry mapping complexity in agents, OTel attributes will be provided as-is in `otel.attributes` property for both span and transaction objects.

The mapping of those attributes should be identical to the one that is applied with OTLP intake.

[2021-09-29 16:24] SylvainJuge commented on #5516
Closing as #6259 duplicates it.

[2021-09-29 16:24] #5516 closed

[2021-09-29 16:41] vigneshshanmugam opened #6260 "[RUM] Keep unsampled transactions for the rum intake"
APM server is introducing a breaking change in 8.0 - https://github.com/elastic/apm-server/issues/5997

As the User Experience Dashboard and Exploratory UI is built based on transaction events and not taking advantage of the transaction metrics documents at the moment, We(synthetics team) still need a way to keep the un-sampled transaction for all RUM events and also probably for agents(Ex- mobile

[2021-09-30 06:58] #6255 closed

[2021-09-30 13:50] MeijerM1 opened #6267 "APM returns a 404 when attempting to send OTLP data"
**APM Server version** (`7.15.0`):

**Description of the problem including expected versus actual behavior**:
The APM server is returning a 404 error on the following url `/opentelemetry.proto.collector.trace.v1.TraceService/Export` when attempting to send OTLP data from an application.

Complete error log:
[code]

**Steps to reproduce**:
 1. Instrument a .net core 3.1 application using the follow

[2021-09-30 18:31] simitt opened #6269 "[tail sampling] Improve monitoring metrics"
## Current behavior
Three event based metrics are recorded: `processed`, `dropped` and `stored`.

* `processed`: counts all `transaction` and `span` events, independent of them being dropped or indexed eventually. It does not count any other event type (`metric`, `error`, `profile`). If an error occurs during batch processing, then this is the only metric that gets updated.
* `dropped`: events tha

[2021-09-30 18:38] bryce-b commented on #6269
it might be nice to have "eventually_dropped" as an explicit metric recorded, so it doesn't have to be inferred. Maybe call it "timed_out" ?

[2021-10-01 15:47] simitt commented on #6260
This is a requirement for https://github.com/elastic/apm-server/issues/5997 to not break the UX for RUM.

Indexing RUM events should be fairly straight forward, as we can make an exception from dropping them based on the app name.

@vigneshshanmugam, can you please clarify what exactly you mean by

[2021-10-01 17:01] vigneshshanmugam commented on #6260
👍🏽

The current iOS agent is being used in the Exploratory view UI which again is based on un-sampled transaction events. I am delegating this to @paulb-elastic and @drewpost

Do we want to make an exception for iOS agent for to keep it working on the Exploratory view?

[2021-10-04 01:56] axw commented on #6260
@vigneshshanmugam we discussed this quite a while ago, and at that time I thought we concluded that the RUM agent would just not set the `sampled` property. Do you recall that discussion? However, thinking about it some more I'm not sure if that's a good idea. The UI uses the property to search for complete trace samples, and if the agent doesn't set `sampled` the server assumes it _is_ sampled.

[2021-10-04 02:48] axw commented on #6254
Should they be independent? The interval could serve two purposes:
 - to configure the timer for periodically publishing aggregated metrics
 - to calculate the time range for the metrics aggregation key

Even if we use the interval as described above, this could still be the case if events come in late. I agree, this would not be a problem.

[2021-10-04 05:17] axw commented on #6249
Are you expecting an exact value of 4000ms in the metric docs?

Transaction durations are aggregated using [HDRHistogram](http://hdrhistogram.org/), and we emit documents using the discrete histogram buckets rather than exact values aggregated. The nature of this approach is that we sacrifice perfect accuracy for storage savings.

[2021-10-04 05:49] axw commented on #6269
What would we use `unprocessed` for?

[2021-10-04 06:28] axw commented on #5959
Done in https://github.com/elastic/package-storage/pull/2058

[2021-10-04 06:28] #5959 closed

[2021-10-04 07:03] simitt commented on #6254
If they weren't independent, then I don't see how we could create buckets that are independent of the events' timestamps. And as soon as the first event's timestamp defines the bucket duration, we might end up having two overlapping buckets. Which I believe would cause issues and potentially sparse buckets.

Example:
`configured aggregation.transactions.interval: 20s`
e1:  11:07:45  -> bucket dura

[2021-10-04 07:07] simitt commented on #6269
Good question, given that the sampling logic does not touch these events at all, probably not worth collecting the metrics. I guess I wasn't too sure if they should be captured as they are currently part of the `dropped` metrics (but I think that's just a bug).
Updated the proposal.

[2021-10-04 07:20] axw commented on #6269
Yep, I also think that's bug; it should only count processed events that were not stored.

[2021-10-04 07:56] axw commented on #6254
What I had in mind was that we would align time to multiples of the interval. i.e. use https://pkg.go.dev/time#Time.Truncate

Using your example of 20s interval:
- e1: 11:07:45 -> time range 11:07:40-11:08:00
- e2: 11:07:30 -> time range 11:07:20-11:07:40

(We would need to choose one of the bounds for `@timestamp`; I'd go with the start time.)

[2021-10-04 07:57] dgieselaar commented on #6254
++, this would be my expectation as well

[2021-10-04 08:17] simitt commented on #6254
sounds good

[2021-10-04 08:39] cyrille-leclerc commented on #5094
@axw was it fixed in 7.14 or 7.15?

[2021-10-04 09:17] axw commented on #5094
@cyrille-leclerc https://github.com/elastic/apm-server/pull/5334 was merged into 7.14.

[2021-10-04 09:21] simitt opened #6281 "[flaky test] systemtest TestRUMXForwardedFor occasionally fails"
The systemtest `TestRUMXForwardedFor` occasionally fails when resovling the `geo` information. This might happen when the tests are run on a different instance. If I remember correctly, @stuartnelson3 did some first analysis on this a while back.

[code]

[2021-10-04 09:34] axw commented on #6281
I wonder if this is related to Elasticsearch automatically updating its MaxMind DB. In that case we might find another location which maps with less error, or otherwise just ignore the specific lat/lon when diffing.

[2021-10-04 09:46] marclop commented on #6281
I can take a look, Would be reasonable to not assert the exact values just they are set and aren't zero? Having the exact value assertion seems out of the scope of the test since the apm-server isn't doing the geolocation, right?

[2021-10-04 09:48] axw commented on #6281
@marclop I think that would be reasonable. We currently use approvals for this which might make it tricky, but we probably don't need to; we could just check that the X-Forwarded-For header value was threaded through and picked up by the geoIP processor.

[2021-10-04 10:23] stuartnelson3 commented on #6223
Should we just add a delete phase at 60d as the default? 60+ days for metrics even starts to seem old to me, but users could easily supply a modified policy if they want more

[2021-10-04 10:23] stuartnelson3 commented on #6223
eg.
[code]

[2021-10-04 13:04] sqren commented on #6249
@dgieselaar started https://github.com/dgieselaar/elastic-apm-generator which bypasses this problem by producing the metric documents and ingesting them directly to Elasticsearch (not through APM Server).

If we are happy with that solution we can close this.

[2021-10-04 13:07] #6281 closed

[2021-10-04 15:47] vigneshshanmugam commented on #6260
I did remember we had some initial discussions around this, but forgot about the outcome. Thanks for bringing it up Andrew.

++ on keeping the decision on the Agent side instead of the server as we can allow users to control the sampling based on `tranasctionSampleRate` and other means. I am not sure about the impact it brings to the Metrics powered UI, but feels like a simpler solution than exclu

[2021-10-05 03:32] axw commented on #6249
What's the goal? It is expected that APM Server produces metrics which aren't exactly aligned to the input event durations. Is there any risk we'll miss edge cases in our testing due to the misalignment with that and how the synthetic metrics generation?

[2021-10-05 03:48] axw commented on #6223
Not across the board. 60d is too long for traces. It might be okay for many users for metrics, but there will be users who want to use metrics (namely transaction and span metrics) for comparisons over a longer period. The primary goal here is to keep costs down by default, and metrics are typically much cheaper than traces.

If customising ILM policies (and having customisations survive upgrade)

[2021-10-05 05:54] #5998 closed

[2021-10-05 06:32] felixbarny commented on #6260
To me, it also seems like a simpler mental modal for users if the config is on the agent side.
However, the downside is that it's harder to centrally ensure to only store sampled transactions. We should add that option to agent central config. But still, all agents need to be updated which gets more difficult with the number of distinct services.

Overall, I think it's a tradeoff we can live with.

[2021-10-05 06:51] dgieselaar commented on #6249
This is purely (at least, for now) for API tests where we want to move from snapshot testing to logical testing. E.g., I want to write instructions to generate 100tpm of transactions over 15 minutes, and then I want to write a logical test that asserts that the throughput returned by the API is exactly 100. We're also considering using the library directly in API tests (rather than through a gener

[2021-10-05 07:54] simitt commented on #6260
Somewhat related, we are discussing having different ILM default policies, with different retention periods for `traces-apm.*`, `logs-apm.*` and `metrics-apm.*` (https://github.com/elastic/apm-server/issues/6223). The assumption for the default delete phases is that the UI will by default be powered by metrics, and traces and logs lose value really fast.
If RUM agents do not support metrics based

[2021-10-05 09:57] axw commented on #6249
Sounds reasonable. I'll close this, as I don't think there's anything we should be changing in apm-server either way.

[2021-10-05 09:57] #6249 closed

[2021-10-05 10:13] axw commented on #6267
@MeijerM1 given that you're not using TLS, and you're using .NET Core 3.1, are you following https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/src/OpenTelemetry.Exporter.OpenTelemetryProtocol#special-case-when-using-insecure-channel?

[2021-10-05 13:06] MeijerM1 commented on #6267
That solved our issue, thanks!

[2021-10-05 13:06] #6267 closed

[2021-10-05 13:43] cdroulers commented on #5795
I might be way off since I'm just starting to use APM server and OTLP in Elastic, but I could live without having the UI show me the stacktrace in that window, but it seems the entire stack trace is not ingested, as it does not appear in the metadata tab OR the document (found through Discover tab). Am I missing something?

[2021-10-06 03:48] axw commented on #5795
@cdroulers it's by no means ideal, but the stacktrace should be visible when looking the document in JSON format under Discover. Here's an example of an error with a stacktrace captured using opentelemetry-go:

![image](https://user-images.githubusercontent.com/843579/136137622-3d860773-bb1a-47a4-8c38-2d5d281575bb.png)

The server records the stacktrace as an exception attribute like this when it

[2021-10-06 06:35] simitt commented on #4879
@axw @bryce-b are we still blocked on this?

[2021-10-06 06:39] simitt commented on #5490
@axw this is in progress now right? Or is there anything left that is blocking?

[2021-10-06 06:59] simitt commented on #5950
The design so far followed the approach to stream data from the agents to the server as quickly as possible to have a minimal impact on the instrumented app. How do you envision a backoff strategy would look like on the agent side?

How would this help here? Both cases fill up the queue, so even when switching to `429`, the server would return the same status code for both cases. I believe this ca

[2021-10-06 07:44] axw commented on #4879
@bryce-b did you ever find out an answer to this?

[2021-10-06 07:55] simitt opened #6302 "Update Go to 1.17.x"
Update to go 1.17 when beats is done https://github.com/elastic/beats/issues/28211

[2021-10-07 01:26] devops-akinox opened #6303 "db statement is truncated"
https://github.com/elastic/apm-server/blob/a275ed9dc843762b42737a108b47533afa1eef70/processor/otel/traces.go#L535

when string is a db.statement the value is truncated, but db.statement is a text type in the ES data. It should not be truncated before knowing if it is a keyword or a text.

Either we should truncate only when we are sure it is a keyword (truncate in every case statement) or for the

[2021-10-07 01:30] axw commented on #6303
Thanks for the issue, I agree that this one should not be truncated.

[2021-10-07 09:03] #6303 closed

[2021-10-11 05:54] axw opened #6313 "beater: TestServerConfigReload is flaky"
e.g. https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/PR-6311/3/consoleFull

[code]

[2021-10-11 06:37] axw opened #6315 "aggregation/txmetrics: `service.node.name` should be included in aggregation key"
The transaction metrics aggregator does not currently include `service.node.name` in the aggregation key. Instead, it includes `container.id` and `host.name`, and relies on the `SetServiceNodeName` model processor to later set `service.node.name` to one of those.

For Lambda we will be setting `service.node.name` to the log stream name instead. We need to update the transaction metrics aggregator

[2021-10-11 08:00] #6254 closed

[2021-10-12 06:06] marclop commented on #6313
It does resolve for me... And it's coming from the Google DNS:

[code]

[2021-10-12 06:09] axw commented on #6313
[code]

?!

[2021-10-12 08:42] #6099 closed

[2021-10-14 00:41] axw opened #6344 "RUM breakdown metrics cannot be indexed when using data streams"
**APM Server version** (`apm-server version`):

7.15.0

**Description of the problem including expected versus actual behavior**:

After migrating APM to data streams, RUM breakdown metrics cannot be indexed. Breakdown metrics are indexed into the `metrics-apm.internal` data stream, which uses strict mapping. RUM breakdown metrics will have a `client.geo` field, care of geoIP enrichment. This fiel

[2021-10-14 02:49] axw commented on #5491
@cristianmad not that I can think of, sorry.

[2021-10-14 02:53] axw opened #6348 "Remove `apm-server.transaction.aggregation.enabled`"
Transaction metrics will become increasingly critical to the APM UI. We turned them on by default in 7.13.

To minimise complexity, we should now deprecate the configuration to enable/disable; they should always be produced in 8.0, with no option to disable them.

[2021-10-14 06:39] simitt commented on #6348
We have documented the option to be [experimental](https://www.elastic.co/guide/en/apm/server/current/transaction-metrics.html), also in the [cloud docs](https://www.elastic.co/guide/en/cloud/current/ec-manage-apm-settings.html#ec-apm-settings). The option is not in the apmpackage, so we only have to deprecate and remove it for standalone.

[2021-10-14 09:00] stuartnelson3 opened #6354 "Correctly decode OpenTelemetry Span numbers and slices for agent bridges"
Address the remaining issues from https://github.com/elastic/apm-server/pull/6308 mentioned in [this comment](https://github.com/elastic/apm-server/pull/6308#discussion_r728757146):

[2021-10-15 01:26] axw opened #6358 "Stop recording `transaction.breakdown.count`"
See https://github.com/elastic/apm/issues/505#issuecomment-943325753

[2021-10-15 07:18] simitt opened #6360 "Make the new ES output logic GA"
* Do some performance testing with the new ES output and ensure it is production ready.
* Add support for compression
* Switch on by default

[2021-10-16 00:21] axw opened #6362 "Automate update of integration package ECS reference"
We should ensure the ECS reference in the integration package is kept up to date with the ECS version used in libbeat and apm-server code. See https://github.com/elastic/apm-server/pull/6359#discussion_r729580945 for some ideas of how.

[2021-10-16 01:13] #6344 closed, assigned to axw

[2021-10-17 01:45] axw commented on #6360
We should have the output enable compression by default, at least in Cloud but I think just generally. We currently enable compression by default in Cloud for the libbeat output. We should probably enhance go-elasticsearch so the compression level can be controlled, like in libbeat.

[2021-10-18 01:17] #6302 closed, assigned to stuartnelson3

[2021-10-18 04:11] #6358 closed, assigned to axw

[2021-10-18 05:22] axw commented on #6259
Main work was completed in #6308, with some leftover bits being tracked in #6354.

[2021-10-18 07:14] #6354 closed

[2021-10-18 07:15] axw commented on #4898
Done in https://github.com/elastic/apm-server/commit/0502a9b9076d795c727ee31dc4eab3ab23e96167

[2021-10-18 07:16] #4898 closed

[2021-10-19 00:48] axw opened #6379 "agent_config metrics are indexed with timestamp 0001-01-01T00:00:00.000Z"
We don't specify a timestamp for agent_config metricsets:

https://github.com/elastic/apm-server/blob/7061fe24102dbb563f3ad40b937e6a1656710dd2/agentcfg/reporter.go#L88-L97

Consequently, they are indexed with the zero-value timestamp.

[2021-10-19 04:36] #6379 closed

[2021-10-19 13:23] AlexanderWert opened #6388 "Allow to overwrite service.name for metricset documents"
As described in https://github.com/elastic/apm/issues/65, in some cases (e.g. JBoss in Java) multiple services can exists within one runtime / for a single APM agent. In these cases, the APM agents (in particular the Java agent) currently reports one generic `service.name` in the metadata object and overwrites the `service.name` (with the specific values) within the individual transactions in v2.

[2021-10-20 02:54] marclop commented on #6002
# Benchmark results

I benchmarked against an ECE installation comparing the performance of:

* APM standalone (libbeat output) vs APM standalone (experimental output)
* APM standalone vs APM integration

No output settings were tuned.

## Environment

Single node ECE installation on an r5d.2xlarge (64GB of RAM).

Each of the benchmarks was run against a deployment with the following topology:

-

[2021-10-20 07:04] axw commented on #3565
It's worth noting that that benchmark is encoding a minimal event. As the number of fields grows, the number of allocations grows when using the master branch and reflection approaches. This is not the case when using the generated fastjson approach; it has constant allocations. In fact the only allocation is unrelated to fastjson; it's due to our need to concatenate the data stream type/dataset/n

[2021-10-26 09:19] axw opened #6423 "[docs] Document use of HTTP headers to identify `client.ip`, and security implications"
In https://github.com/elastic/apm-server/pull/6162 we documented the headers used by APM Server to identify the client IP for RUM traffic. We should extract this from the configuration settings documentation, and create a more prominent section describing:

 - how client IP is derived (i.e. using HTTP headers)
 - how client IP is connected to determining client IPs (i.e. through geoIP enrichment)

[2021-10-26 09:28] axw opened #6424 "Introduce configuration to disable use of HTTP headers for identifying `client.ip`"
We make use of various HTTP headers, such as X-Forwarded-For, for identifying the client IP of RUM traffic. This assumes that clients are either trusted, or APM Server is behind a reverse proxy which removes these headers from untrusted clients to prevent spoofing of `client.ip`.

We should provide configuration to disable the use of HTTP headers, for users who directly expose APM Server to untrus

[2021-10-26 12:02] Mpdreamz opened #6425 "Introduce version check on installed package"
We currently validate that the APM integration is installed while running standalone and assume it is when running managed.

We don't validate the installed package actually satisfies our `Stack Version >= APM Version` constraint.

A drift in the installed package could mean that APM Server will introduce new fields with wrong mappings. This can lead to a broken UI experience which can be hard to

[2021-10-26 12:11] Mpdreamz opened #6426 "Use Elasticsearch compatibility header with go-elasticsearch"
Elasticsearch `7.10` introduces compatibility headers:

[code]

Meaning Elasticsearch takes care of accepting and returning a `7.x` compatible response.

by utilizing this we can support running APM Server 7.16.x running against `Elasticsearch 8.x` with minimal accounting for breaking changes.

Compatible applies to format only, behavioral changes may occur.

On 7.x the return type is still json:

[2021-10-27 10:08] axw opened #6433 "Add deprecation notice to source map upload docs, redirect to Kibana API"
We are deprecating source map upload via apm-server in 7.16, and removing it in 8.0. We need to add a deprecation notice to the docs, e.g. https://www.elastic.co/guide/en/apm/server/current/sourcemap-api.html, and direct users to https://www.elastic.co/guide/en/kibana/current/rum-sourcemap-api.html.

Note that the new Kibana API currently only works with the Fleet integration. We intend for standa

[2021-10-28 05:26] axw opened #6446 "Document source map configuration for standalone"
Starting with 8.0, APM Server will no longer have a source map upload endpoint. Instead, users must upload source maps via Kibana: https://www.elastic.co/guide/en/kibana/current/rum-sourcemap-api.html#rum-sourcemap-post

The Kibana endpoint was designed to work with APM Server running as a Fleet integration, and these source maps cannot be fetched by older standalone APM Servers.

In 8.0 we will i

[2021-10-28 10:27] lucabelluccini opened #6451 "[DOC] Document the APM Server Monitoring API"
In the documentation [there is a reference](https://www.elastic.co/guide/en/apm/server/current/monitoring-metricbeat-collection.html#configure-shipper) of how to enable the HTTP endpoint to allow Metricbeat `beats` module to collect stats & status of APM Server.

There is a dedicated section for APIs, but we do not include the Monitoring (except server info): https://www.elastic.co/guide/en/apm/se

[2021-10-28 19:08] ppf2 opened #6461 "Better logging for "it is not an alias" production impacting issues"
We have the following in our documentation.

https://www.elastic.co/guide/en/apm/server/current/common-problems.html#server-resource-exists-not-alias

It will be a better experience to improve our current error message for this common production impacting scenario
1. Indicate how severe this problem is when there are broken APM indices.  Currently we simply report:

We should consider explicitly s

[2021-10-28 19:13] ppf2 opened #6462 "Various ambiguous APM server errors in the logs are not useful"
![image](https://user-images.githubusercontent.com/7216393/139320285-7b89c581-8ebd-42a2-91ae-741274942af4.png)

We see in some situations (e.g. when APM server is all queued up), tens of thousands of ambiguous/brief error messages (e.g. `data validation error`, `internal error`, `EOF`) that are not useful for troubleshooting. Here are examples of various ambiguous errors in APM Server logs and sug

[2021-10-28 20:36] graphaelli opened #6460 "project test"

[2021-10-28 20:39] #6460 closed, assigned to nobody

[2021-11-01 02:35] axw commented on #6260
For RUM they do.

[2021-11-01 03:52] axw commented on #6260
I've written up a proposal here: https://docs.google.com/document/d/17wNGGh3u53tQsl938FZmQBa-If8TFKEGyto-Jvjzobk/edit?usp=sharing

@drewpost @vigneshshanmugam a couple of questions:

 - Would you be able to link some reference materials on why we should not rely on sampling and pre-aggregated transaction metric for User Experience?
 - Is it a problem for the User Experience and Exploratory views t

[2021-11-01 06:42] axw commented on #6451
I don't know the original reason for that, but I'd guess that the endpoint is experimental because we don't want to maintain strict backwards compatibility; just enough compatibility to not break Metricbeat-based monitoring through upgrades.

The future is Fleet, and when you install an Elastic Agent you have the opportunity to enable metrics. Given this, I would prefer not to increase the guarant

[2021-11-01 06:43] axw commented on #5997
Proposal: https://docs.google.com/document/d/17wNGGh3u53tQsl938FZmQBa-If8TFKEGyto-Jvjzobk/edit

[2021-11-01 08:15] #5991 closed

[2021-11-01 10:01] #5993 closed

[2021-11-01 12:50] #4909 closed

[2021-11-01 23:29] marclop commented on #6348
I think the correct setting name is `apm-server.aggregation.transactions.enabled`.

There is also an enable setting for serviceDestination aggregations, should we look into always enabling that by default and drop the setting?

[2021-11-02 00:57] axw commented on #6348
@marclop good thought, yes I think so. If service destination metrics aren't produced then the Dependencies view in the UI won't work.

[2021-11-02 01:07] marclop commented on #6348
I'll open a separate issue for it.

[2021-11-02 01:13] marclop opened #6496 "Remove `apm-server.service_destinations.enabled` and enable by default"
## Description

The APM application is increasingly reliant on metrics generated either by APM Go agents or by the `apm-server`. Since it relies on these aggregations to generate the dependencies view, `apm-server` must always collect service_destination aggregations.

Additionally, we should remove the setting (`apm-server.service_destinations.enabled`) that allows users to toggle this functional

[2021-11-02 05:19] #6348 closed

[2021-11-02 14:32] #6496 closed

[2021-11-03 01:38] axw opened #6511 "Measure HTTP request body length, number of events in body"
The server currently reports Content-Length in logs, and accumulates it in metrics, if it is not -1 -- i.e. not chunked encoding. We should also look into measuring the body size when chunked encoding is in use. Ideally we would also count the number of events in each payload.

This would be helpful in performance investigations, where the number of requests either remains stable or increases only

[2021-11-03 02:46] axw opened #6512 "`span.kind` field is not mapped"
In https://github.com/elastic/apm-server/pull/6308 we started adding `span.kind` to some transaction and span documents, but we did not add a mapping. We should map this as a keyword field.

[2021-11-03 03:40] marclop commented on #6105
We'll need to modify https://github.com/elastic/go-licenser to support Elastic License 2.0. I will make the necessary changes to it.

[2021-11-03 07:37] #6223 closed

[2021-11-03 10:21] #6512 closed

[2021-11-03 12:16] simitt commented on #2631
closing this issue as we created tracking issues and labeled them 8.0 for everything we plan to implement.

[2021-11-03 12:16] #2631 closed

[2021-11-03 12:26] simitt commented on #2975
APM Server 8.0 is not supposed to work with an ES of version 7.x. Therefore this is not a concern and the issue can be closed.

[2021-11-03 12:26] #2975 closed

[2021-11-03 15:05] stuartnelson3 opened #6528 "jvm metrics not displayed with opentelemetry-collector v0.34.0"
**APM Server version** (`apm-server version`): `apm-server version 7.16.0 (amd64), libbeat 7.16.0 [73339c29675f6f987cd96ffac8d4b24284f0275b built 2021-10-27 20:20:27 +0000 UTC]` (BC2)

**Description of the problem including expected versus actual behavior**:

Running an [otel instrumented sample app](https://github.com/cyrille-leclerc/my-shopping-cart/tree/open-telemetry) correctly showed transact

[2021-11-03 15:11] stuartnelson3 commented on #6528
Note: jvm metrics are also missing when using apm-server as the otel exporter otlp endpoint, `export OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:8200"`

[2021-11-03 23:08] axw opened #6529 "Allow `transaction.name` in error events"
See https://github.com/elastic/apm/issues/531

[2021-11-04 00:29] #5997 closed

[2021-11-04 07:07] axw commented on #6528
I think the issue here might just be that metrics aren't enabled by default -- you have to set `OTEL_METRICS_EXPORTER=otlp` explicitly, and I don't see that being set in my-shopping-cart anywhere.

I had some trouble getting the test app to build on my machine, so I wrote a hello world Java program and ran it with opentelemetry-java-instrumentation. With `OTEL_METRICS_EXPORTER=otlp`, and `OTEL_IMR

[2021-11-04 07:11] axw commented on #6426
I see the following options:
 1. Enable the compatibility header by default, breaking support for older Elasticsearch versions. IMO this is not a reasonable option -- we explicitly support all 7.x.
 2. Provide users an option to enable the compatibility header, but default to off. Not great, but least complex.
 3. Have apm-server discover the Elasticsearch version, and automatically enable the hea

[2021-11-04 07:58] marclop opened #6538 "systemtests: AgentConfig endpoint returns EOF"
## Description

#6537 Added a retry up to 10 times when the `apm-server` endpoint returns an EOF. This is not ideal since the test works around the fact that the endpoint is returning EOF, when it shouldn't.

This issue is to root cause and determine the source of that EOF.

## Test output

[code]

[2021-11-04 09:01] stuartnelson3 commented on #6528
:+1: confirmed, works with `OTEL_METRICS_EXPORTER=otlp`

[2021-11-04 09:01] #6528 closed

[2021-11-04 10:05] #6529 closed

[2021-11-04 10:21] SylvainJuge opened #6543 "Align span/transaction type/subtype for OTel intake with agent bridge spec"
Agent OTel bridge specification PR : https://github.com/elastic/apm/pull/516

**APM Server version** (`apm-server version`): *master* as of writing, might be shipped into 7.16.0

For OTel intake, APM Server has to perform mapping from OTel attributes to the APM data model in ES.

When implementing an OTel bridge, agents have to replicate part of this mapping for the following fields:
- `transactio

[2021-11-04 15:32] stuartnelson3 opened #6544 "processor/otel: index span events not appearing under Logs tab"
**APM Server version** (`apm-server version`): `apm-server version 7.16.0 (amd64), libbeat 7.16.0 [6be1dd5c20251beb1daef02d0d96625b37b7f480 built 2021-11-03 17:40:10 +0000 UTC]`

**Description of the problem including expected versus actual behavior**:

I ingested OTel spans with events, and saw they were being indexed into `logs-apm.app-default`, but when I checked the Logs tab for the service, i

[2021-11-05 08:14] simitt opened #6549 "Automated benchmarks 2.0"
Rethink our current benchmarking setup for APM Server to make it more actionable and useful. Ideally with this work we would have a design proposal ready for the benchmarking framework, a good understanding of how we can use this in the future for benchmark analysis for different shapes of events and a rough understanding about the involved complexity.

We want to build on top of and grow work sta

[2021-11-05 11:00] sqren commented on #6544
@stuartnelson3 Can you enable try inspecting the API request for `GET /internal/apm/services/{serviceName}/infrastructure` and post the Elasticsearch requests and responses made?

You can find documentation on how to enable this in a PR I created just now:
https://github.com/elastic/kibana/pull/117635

The actual documentation is here:
https://github.com/elastic/kibana/blob/3efe8dc0f4babcee4c535f4

[2021-11-05 11:03] sqren commented on #6544
Btw it looks like you need to add either `host.hostname`  or `container.id` to the log document for it to show up in APM. The values need to match the selected APM service.

https://github.com/elastic/kibana/blob/5ce12b2a842ae725de097794065194a6616dd394/x-pack/plugins/apm/server/lib/services/get_service_infrastructure.ts#L71-L80

[2021-11-05 11:26] stuartnelson3 commented on #6544
Request:

[code]

Response:

[code]

[2021-11-05 11:43] stuartnelson3 commented on #6544
@axw how should `container.id` or `host.hostname` be added? I set `span.SetAttributes(attribute.String("host.hostname", "slaptop"))` on the span but it ends up being indexed under `labels.host_hostname` in the trace, and not in the log.

[2021-11-05 11:53] sqren commented on #6544
I don't have experience with the otel go agent unfortunately. Maybe the go agent developers know.

[2021-11-05 12:09] simitt commented on #6544
@stuartnelson3 the apm-server otel metadata logic maps `host.name` (from otel semantic convention, stable) to `host.hostname` (https://github.com/elastic/apm-server/blob/master/processor/otel/metadata.go#L101).

[2021-11-05 12:36] stuartnelson3 commented on #6544
K, I updated the traceprovider and verified that `host.hostname` is appearing in the log documents, but it still isn't appearing in the logs tab:

[code]

<details>
<summary>indexed log doc</summary>

[code]
</details>

Looking at the query, there were a couple inconsistencies that, when fixed, returned a document:
<details>
<summary>updated query</summary>

[code]
</details>

- There's a filter `

[2021-11-05 13:50] sqren commented on #6544
Did that suddenly change to "log"? In your first example it was "metric". Please provide the full response from the endpoint and not just the es request.

[2021-11-05 13:52] stuartnelson3 commented on #6544
It didn't suddenly change to log, that was a change I did in the dev console to see if I could get a document back. The response is unchanged:

<details>
<summary>response 2</summary>

[code]
</details>

[2021-11-05 13:53] sqren commented on #6544
Ahh, you manually changed the document to be "log"?

You need to index BOTH a log document AND an APM metric document.

[2021-11-05 13:53] sqren commented on #6544
What APM documents are you indexing? Perhaps the lookup _could_ happen on other documents than metric docs. Eg. transactions, spans or errors.

[2021-11-05 14:15] stuartnelson3 commented on #6544
Looking at the result, it appears a transaction, log, and metric document are all being indexed.

It seems it's working now with the following changes:

[code]
![image](https://user-images.githubusercontent.com/1398104/140524315-527f77e3-896b-4e6c-93e2-16f6de9c4d4b.png)

Thanks for the help, looks like I was just using the library incorrectly :grimacing:

[2021-11-05 14:15] #6544 closed

[2021-11-05 14:19] simitt commented on #6544
Are we actually requiring users to set `attribute.String("service.name", "unknown_service_otlp")` to show up in the APM UI? That doesn't necessarily sound right to me.

[2021-11-05 14:47] sqren commented on #6544
For logs or apm events?  For apm events `service.name` is required as far as I know. Logs shouldn't need `service.name` though.

[2021-11-05 15:35] stuartnelson3 commented on #6544
I started with a clean elasticsearch, and didn't add `service.name`. The only requirement for the logs to display was adding `attribute.String("host.name", "slaptop")`.

[2021-11-05 15:40] simitt commented on #6544
sounds good then, thanks for tracking this down

[2021-11-05 16:08] SylvainJuge commented on #6543
@axw / @elastic/apm-server do you have any opinion on which option would be better ?
As OTel agent bridges would likely be shipped as experimental features, it might not be a big issue to have a small inconsistency until GA.

[2021-11-05 23:56] vigneshshanmugam commented on #6260
++

@drewpost Who would be the better person to answer this question. I don't know much about how the Exploratory view UI  works. @dominiqueclarke @shahzad31 Could you help here.

[2021-11-08 21:15] gbschenkel commented on #6267
I am having the same problem, but using java agent, and APM is installed on OpenShift
OpenShift 4.9 || ECK 1.8.0 || APM 7.15.1 || opentelemetry-java 1.7.1

`apiVersion: apm.k8s.elastic.co/v1
kind: ApmServer
metadata:
  name: apm-dev
spec:
  version: 7.15.1
  count: 2
  config:
    monitoring:
      enable: true
  elasticsearchRef:
    name: elasticsearch-dev
  kibanaRef:
    name: kibana-dev
  htt

[2021-11-09 03:17] marclop commented on #5999
I'm having  a look at this and the description is a little vague, by having a look at the linked PR, we will stop setting individual event `event.{transaction,span,profile}.duration.us` and set the `event.duration` field instead with the underlying Nanosecond that `time.duration` uses, correct?

The APM package index template fields need to be modified to use the `event.duration` field from ECS in

[2021-11-09 05:22] axw commented on #5999
@marclop aside from the other obvious change needed in apm-server to emit the `event.duration` field instead of the existing ones, the only other required change I can think of is to use `event.duration` in packaged ML jobs.

Changes to the UI and ML jobs would be the most complicated, so we should discuss this with them before embarking. Can you please discuss with the UI team? They may also know

[2021-11-09 06:59] felixbarny commented on #5999
Is there a corresponding UI issue for this?
The hardest part about it will be backward compatibility. For old data, `event.duration` is not available so the UI should fall back to `<transaction|span>.duration.us`. AFAIK, that's an unresolved issue how to do that in a transparent way.

[2021-11-09 07:35] axw commented on #5999
Doesn't look like it. We had (have?) one for `timestamp.us`, but that turned out to be too difficult to target 8.0.

Agreed. If we can do this for 8.0, I think it will depend on us being able to do it without any kind of runtime field magic. Like, querying both fields.

[2021-11-09 09:23] Mpdreamz commented on #5999
What if starting 8.0 we make `event.{transaction,span,profile}.duration.us` fields all field aliases to `event.duration.us` ?

That way the producing side can switch over to `event.duration.us` and we push the switch from the consuming side out after the active deprecation period.

[2021-11-09 09:55] axw commented on #5999
@Mpdreamz not a bad idea, but there are some complications:

 1. Transactions and spans both end up in the same index, so we'll have `transaction.duration.us` and `span.duration.us` in the same document, both aliases for `event.duration`
 2. `<event>.duration.us` is in microseconds, while `event.duration` is in nanoseconds

I think we could live with (1), but I don't think we have a way to deal wi

[2021-11-09 17:12] cachedout opened #6562 "Master branch test failures in TestRUMXForwardedFor tests"
We saw a pair of test failures for the TestRUMXForwardedFor tests today in the master branch. Specifically, the failures were:

    Build and Test / System and Environment Tests / github.com/elastic/apm-server/systemtest.TestRUMXForwardedFor/data_streams_enabled
    Build and Test / System and Environment Tests / github.com/elastic/apm-server/systemtest.TestRUMXForwardedFor

Additional info can be

[2021-11-09 23:26] brettmc opened #6563 "service.namespace support"
Describe the feature.
Using APM or opentelemetry for tracing, I would like to have the ability to namespace services so that we do not get naming collisions between generically-named services (eg "auth", "api", ...). I would also like to be able to see the namespace in the APM view, and potentially filter by namespace.
As a workaround, we are prefixing namespaces into our service names (eg service

[2021-11-10 00:31] axw commented on #6563
@brettmc thanks for opening the issue. I'll transfer this to elastic/apm, as I think we'll want to treat this feature holistically -- server, agents, and UI.

[2021-11-10 00:43] axw commented on #6267
@gbschenkel in future please open a new topic at discuss.elastic.co/c/observability/apm/58, rather than commenting on old issues.

The issue here is that OTLP/gRPC does not work with the LoadBalancer service type -- see https://kubernetes.io/blog/2018/11/07/grpc-load-balancing-on-kubernetes-without-tears/ for details, and some options of how to address this.

[2021-11-10 05:10] axw commented on #6543
@SylvainJuge I'm a bit confused by a couple of things:

I don't see any mention of "custom" in the Gherkin spec? Is this how things are now in agents, and you're proposing that we stop doing that?

That seems to be already the case in the spec. Am I misreading it?

Option 1 seems sensible to me:
 - default to `app.internal` for internal spans
 - default to `unknown` for non-internal spans
 - defau

[2021-11-10 07:06] marclop opened #6570 "Automatically enable `auth.anonymous` when `rum.enabled: true`"
## Description

Prior to `8.0.0`, users could enable RUM and allow their `apm-server` to accept certain service names only with the following configuration:

[code]

`apm-server.rum.allow_service_names ` is deprecated in `8.0.0` in favor of `apm-server.auth.anonymous.allow_service`, with the caveat that they also need to set `apm-server.auth.anonymous.enabled: true`:

[code]

This may not be obvio

[2021-11-10 07:10] axw commented on #6570
Alternatively, we could consider changing the implementation so that if you specify `apm-server.rum.enabled: true`, it implies `apm-server.auth.anonymous.enabled: true` _unless_ `apm-server.auth.anonymous.enabled` is specified. At the moment, it is implied unless `apm-server.auth.anonymous` is specified.

[2021-11-10 07:14] simitt commented on #6037
I saw the same behavior for elastic agent logs, don't believe this is an actual apm-server issue, but rather a log collection issue.

[2021-11-10 07:16] simitt commented on #5986
@stuartnelson3 this can be closed now right?

[2021-11-10 07:18] marclop commented on #6570
I think that'd be preferable, it would avoid confusion and frustration for users when their RUM traces are missing 🙂.

[2021-11-10 07:31] marclop opened #6571 "Ensure that package version == `apm-server` version"
## Description

We should validate and ensure that the `apm` package corresponds with the `apm-server` MAJOR.MINOR numbers. We can add a some validation in `check-full`

[2021-11-10 07:31] axw commented on #5990
All done.

[2021-11-10 07:31] #5990 closed

[2021-11-10 08:12] #6562 closed

[2021-11-10 08:17] cachedout commented on #6562
Many thanks for the quick turnaround @marclop !

[2021-11-10 09:31] SylvainJuge commented on #6543
Sorry for the confusion:
- I changed the agent spec PR to use Option 1 as we can see[ in the current state of the agent gherkin spec](https://github.com/elastic/apm/blob/93a4aa502073df0daf9edc1f9e824d99dc193f38/tests/agents/gherkin-specs/otel_bridge.feature#L29-L57), this was *before* opening this issue.
- The [*current* span type/subtype spec](https://github.com/elastic/apm/blob/master/tests/agen

[2021-11-10 09:40] simitt commented on #3556
@bmorelli25 is this something we still want to look into (in the near term) with all the refactoring you are currently working on? Otherwise we can move it to backlog or close if not relevant anymore.

[2021-11-10 09:41] simitt commented on #3726
@bmorelli25 is this something we still want to look into (in the near term) with all the refactoring you are currently working on? Otherwise we can move it to backlog or close if not relevant anymore.

[2021-11-10 09:48] simitt commented on #5417
I don't think the `docker-compose.yml` exists anymore after restructuring the docs. @bmorelli25 can this issue be closed?

[2021-11-10 10:03] simitt commented on #6451
I agree with @axw to not change anything here. APM Server standalone will soon be deprecated, and Elastic Agent and Fleet will manage the APM Server. Exposing a metrics collection endpoint will then be configured via Elastic Agent configuration.
@lucabelluccini are you ok with closing this issue?

[2021-11-10 10:05] lucabelluccini commented on #6451
Given the plans with the Agent & Fleet to manage APM Server, I am ok to close this issue. Thank you!

[2021-11-10 10:09] simitt commented on #6461
This should not be a problem any more when using data streams, which is planned to be the default in 7.16, and the only option from 8.0 on. Given these upcoming changes, any improvements would only be released for versions where using ILM is already deprecated.
@ppf2 are you ok with closing this?

[2021-11-10 10:33] simitt commented on #6462
Thanks for opening this @ppf2 .
In general the `error.message` is supposed to contain details on the error, the `message` itself is kept brief to be able to group by common issues.

We should be able to include some more details on where the data validation error has happened (metadata, event, etc.) and what triggered it for most cases, potentially also the `service.name`.

Looking at the code, th

[2021-11-10 11:15] #6451 closed

[2021-11-10 11:24] dikshachauhan-qasource commented on #6037
Hi @simitt Thanks for the feedback on reported issue

[2021-11-10 13:07] stuartnelson3 commented on #5986
yes, thanks for following up!

[2021-11-10 13:07] #5986 closed

[2021-11-10 14:22] AlexanderWert opened #6576 "Add additional fields to transaction metrics for serverless UI"
Transactions reported for AWS lambda functions populate the boolean fields `faas.coldstart` and `faas.trigger.type`.
Furthermore, the field `service.runtime.name` is required to determine whether a service is in a serverless context.
In order to derive additional, Lambda-specific insights it would be very useful, if the transaction metrics derived from transaction events in the APM could include t

[2021-11-10 17:59] ppf2 commented on #6461
@simitt It's going to be a while until a majority of our APM users (esp. the ones live in production) can upgrade to 8.0.  Is it possible to at least implement 1 and 2, which will just be a simple update to the error message (3 is likely more involved)?  A lot of our users will also likely end up on the `7.1x.last` version (whatever that version will be in 2022) for an extended period of time befo

[2021-11-10 21:41] ppf2 commented on #6462
It looks like `sending request to kibana failed` is related to agent-configuration:

[code]

For the other ones, I will send you the link to an internal dashboard :)

[2021-11-10 22:38] #5417 closed

[2021-11-10 22:39] bmorelli25 commented on #3726
Not really relevant anymore. Most of these pages have been updated since then or have other updates pending with the refactoring work.

[2021-11-10 22:39] #3726 closed

[2021-11-10 22:40] bmorelli25 commented on #3556
I'll close this as it won't be addressed in our current doc system.

[2021-11-10 22:40] #3556 closed

[2021-11-11 01:20] bryce-b opened #6581 "Monitoring data is not indexed in ES"
**APM Server version** (`apm-server version`): v7.16.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:

Data captured in `.monitoring-beats*` indices under `beats_stats.metrics.apm-server.sampling.*` is not indexed and can not be queried in the Console or charts.

**Steps to reproduce**:

 1. enable tail-based sampling in the apm-server
e.g.:
[code]
 2. enable s

[2021-11-11 01:21] #5994 closed

[2021-11-11 03:08] axw commented on #6543
@SylvainJuge thanks for clarifying. SGTM!

[2021-11-11 03:18] axw commented on #6037
This is a duplicate of https://github.com/elastic/apm/issues/463 I think?

https://github.com/elastic/apm/issues/463#issuecomment-952523895

[2021-11-11 03:21] axw commented on #6570
@marclop OK, I think I'm convinced that we should make that change. Let's convert this into an enhancement issue? Or create a separate one and block this on the change.

[2021-11-11 05:07] matschaffer opened #6586 "Index span.db.statement as text"
The db statement is really useful, but it would be even more amazingly useful if we could search on it.

So by adding this mapping:

![Screen Shot 2021-11-11 at 13 59 51](https://user-images.githubusercontent.com/690/141240579-b54e520b-acf0-4541-959a-16f6c0acbf94.png)

We should be able to search for spans which have a certain db query structure.

![Screen Shot 2021-11-11 at 14 05 04](https://user

[2021-11-11 05:19] #5996 closed

[2021-11-11 07:21] axw commented on #6586
@matschaffer thanks for opening.

Originally this field was intentionally not indexed, to avoid incurring high storage cost. I would like to revisit this decision, ideally with some data to show the cost is worthwhile.

Would [`match_only_text`](https://www.elastic.co/guide/en/elasticsearch/reference/current/text.html#match-only-text-field-type) be reasonable for your needs?

[2021-11-11 10:07] dikshachauhan-qasource commented on #6037
Hi @axw

Yes, These are duplicates and I'm closing out this one and we can follow up on the other ticket.

Thanks
QAS

[2021-11-11 10:07] #6037 closed

[2021-11-11 12:03] #6105 closed

[2021-11-11 20:14] chickeaterbanana commented on #5491
Do I understand the labels correctly that `v8.0.0` will support this?

[2021-11-14 02:28] axw commented on #5491
@chickeaterbanana it is a stretch goal. The label is for the release we're targeting, but it may slip. We have a lot on our plates.

[2021-11-15 00:46] #5995 closed

[2021-11-15 00:46] #6000 closed

[2021-11-15 02:21] matschaffer commented on #6586
For the purpose I had above, definitely.

Though I could imagine cases where ordering of word in the statement is important. For example if it were a sql query, you might be interested in if the table appeared before or after the join.

Just conjecture on that though.

[2021-11-15 02:22] matschaffer commented on #6586
As for the cost, have we gotten hard numbers on with/without? Seems like maybe we could add the mapping to a large index and check before/after. I'm sure ESS internal clusters have lots of large indices we could borrow for such a purpose.

[2021-11-15 02:27] axw commented on #6586
No, that's really the only thing holding us back at the moment.

[2021-11-15 02:30] matschaffer commented on #6586
Cool. I was able to simply add the mapping to get the functionality. I didn't check on-disk size before/after, but I could. Is there a particular disk number you think would be most useful? Is the `store` size on https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-stats.html sufficient you think?

[2021-11-15 02:36] axw commented on #6586
I think `indexing` and `store` are most interesting. It would also be helpful to know the proportion of docs that have a `span.db.statement` field.

[2021-11-15 04:45] #6570 closed

[2021-11-15 11:01] shahzad31 commented on #6260
I think from User experience app and exploratory point of view, we would like to move to a more performant solution like transaction metrics, querying directly against raw transactions is costly and slow.

But it does provides the extra flexibility in terms of filtering/breakdown. In any case, we first need to audit if we can use transaction metrics in the UX app and Exploratory view , until then

[2021-11-15 12:24] felixbarny commented on #6260
I think the UI doesn't have to be solely based on metrics. Use metrics for the default views and if the dimensions you need are available in metrics. Otherwise, you could fall back to sampled transaction documents and use `sample_rate` to compensate for the transactions that are dropped due to sampling.

[2021-11-15 14:05] liza-mae opened #6619 "[8.0] Trouble connecting APM to Elasticsearch"
Version: 8.0, 8.1

I noticed a recent change that now apm server is not connecting to elasticsearch.  I don't see any error in the log, so maybe it is a new configuration that I am missing.  Can someone help verify if it is a bug or not?

I am using the default apm-server.yml with just some added parameters for security, nothing else modified in the default configuration.

[code]

I am looking for

[2021-11-15 17:23] sqren commented on #6260
Would this also be the case for transaction metrics for RUM? Would they contain these extra dimensions?

[2021-11-16 01:49] axw commented on #6260
@sqren no, unfortunately the transaction metrics do not contain the extra dimensions. We rely on ingest node doing that enrichment, and the raw information (naturally - it's high cardinality) isn't included in metrics.

In the past we planned to do User-Agent parsing and geoIP enrichment in apm-server for this purpose. That would enable us to include, for example, country name in the dimensions. W

[2021-11-16 13:00] #5961 closed

[2021-11-16 13:07] simitt commented on #6619
There are a couple of related changes going on for 8.0 (https://github.com/elastic/apm-server/issues/5961). The one that you seem to experience is that APM Server only writes to data streams from 8.0 on and that index templates and ILM policies need to be set up outside of APM Server. The easiest way to set up assets is by installing the APM Integration via Fleet.

You can only install the integra

[2021-11-16 13:40] stuartnelson3 commented on #4824
closed in #6593

[2021-11-16 13:40] #4824 closed

[2021-11-16 14:46] #5479 closed

[2021-11-16 17:46] bryce-b opened #6638 "Defining apm-server.sampling.tail.interval causes throughput to cease"
**APM Server version** (`apm-server version`): 7.16.0-SNAPSHOT

<br class="Apple-interchange-newline">

**Description of the problem including expected versus actual behavior**:
The issue appears when `tail.interval` is introduced in the configuration yaml.  The documentation describes using a flush interval no greater than half the duration of `tail.ttl`. Following this instruction, or setting an

[2021-11-16 18:11] bryce-b opened #6639 "ES search rate very high when TBS enabled"
**APM Server version** (`apm-server version`): 7.16.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:
When Tail-based sampling is enabled, ES search rate doubles
<img width="617" alt="Screen Shot 2021-11-16 at 9 59 07 AM" src="https://user-images.githubusercontent.com/75274611/142040004-fbf5e774-aa20-4d50-8e8f-934e95271e1f.png">
In the above screencap you can se

[2021-11-16 18:44] bryce-b opened #6640 "Multiple service policies result in unusual sample rates"
**APM Server version** (`apm-server version`): 7.16.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:
In testing, I used multiple tail-based sampling policies designed to apply unique sample rates to specific services. I used a comparison between the `request` transaction metrics count vs the `request` transaction traces captured to determine the actual sample r

[2021-11-16 20:09] paulb-elastic commented on #6260
@drewpost can you take a look and comment on https://github.com/elastic/apm-server/issues/6260#issuecomment-955904292 please?

[2021-11-16 21:44] cyrille-leclerc opened #6641 "Failure to ingest OpenTelemetry metrics when one of them is `NaN`"
**APM Server version** (`apm-server version`): 7.15.1

**Description of the problem including expected versus actual behavior**:

Failure to ingest OpenTelemetry metrics when one of them is `NaN` reporting the error message `"failed to perform any bulk index operations: unsupported float value: NaN"`

**Steps to reproduce**:

* Setup an OpenTelemetry Collector with
   * A Prometheus Receiver
   *

[2021-11-16 21:53] bryce-b opened #6642 "APM Server hung in high CPU utilization"
**APM Server version** (`apm-server version`): 7.16.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:
When testing Tail-based sampling, the APM Server got into a high cpu-utilization that couldn't be mitigated. This occurred while editing and updating the apm server configs. I thought it might have been associated with `policy` configs, but it occurred a second

[2021-11-17 06:32] matschaffer commented on #6586
I did a little poking at this today. I think we can probably get the ratio with:

[code]

And the store sizing info with:

[code]

[2021-11-17 07:11] matschaffer commented on #6586
Here's one from us-east-1 staging metrics cluster

Before:

<details>
<summary><code>GET apm-7.15.0-span-000048/_stats/indexing,store</code></summary>

[code]
</details>

Mapping:

<details>
<summary><code>PUT apm-7.15.0-span-000048/_mapping</code></summary>

[code]
</details>

After:

<details>
<summary><code>GET apm-7.15.0-span-000048/_stats/indexing,store</code></summary>

[code]
</details>

Ra

[2021-11-17 07:15] matschaffer commented on #6586
Wonder if it might make sense to use @dgieselaar 's apm synthtrace to just generate a bunch of random db statements as part of the span data. Not as nice as "real" but looks like our biggest "real" data source doesn't record db statements at all today.

[2021-11-17 07:42] axw commented on #6586
@matschaffer oh, bummer. Thanks for digging into it anyway.

++

I'd like to use synthtrace (some kind of generator) to generate APM events, pass them through apm-server, and then use the resulting docs in Rally (https://github.com/elastic/apm-server/issues/6115). Then we can measure the impact of mapping changes like, while keeping the results in sync with the changes in how apm-server structures

[2021-11-17 10:06] drewpost commented on #6260
Hi @axw re sampling and pre-aggregations: To be clear, there's some nuance here. I'm not against sampling as a concept, it's just that the tools we have to do it are very blunt. We also don't have the ability to do it at the session level nor to ensure we get a statistically relevant volume of impressions to power things like core web vitals etc. Conceptually it also starts to bias the data agains

[2021-11-18 01:51] henrikno commented on #6586
Btw. from 7.15 you can get the actual disk usage per field, which is really useful to test mapping changes. https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-disk-usage.html

[2021-11-18 02:26] henrikno commented on #6586
Also wanted to note, `match_only_text` does support phrase queries, it'll just be slower since it needs to look at _source to verify ordering.

[2021-11-18 03:56] #3873 closed

[2021-11-18 09:20] tobiasstadler commented on #6586
I wanted to note that `span.db.statement` may contain sensitive information.

[2021-11-18 09:43] axw commented on #6586
@tobiasstadler we already store `span.db.statement` in the Elasticsearch document, it's just that we don't index it for fast searching. It's already possible to search the field using runtime fields by defining a [runtime field in the search request](https://www.elastic.co/guide/en/elasticsearch/reference/current/runtime-search-request.html), so I think the only difference would be the speed of th

[2021-11-18 09:50] tobiasstadler commented on #6586
No, I don't thin so. Sorry I didn't know/forgot that the value is stored already.

[2021-11-18 09:56] axw commented on #6586
No worries! Thanks for raising your concern anyway.

[2021-11-18 14:13] tobiasstadler commented on #6586
I did the following in our test cluster:
[code]
and
[code]

Now
[code]

results in
[code]

apm-7.15.0-span-000001 has 13610386 docs with `span.db.statement`.

I hope this helps.

[2021-11-18 17:01] paulb-elastic commented on #6260
@axw is there anything else you need from us for this?  Is it still possible to add an exception and not drop unsampled transactions for RUM data, for 8.0?

[2021-11-18 22:47] axw commented on #6260
Thank you @drewpost and @paulb-elastic. My takeaways are:
 - User Experience would still _ideally_ use all RUM transactions events until we have better sampling mechanisms ([Drew's comment](https://github.com/elastic/apm-server/issues/6260#issuecomment-971424833))
 - There is no time to make significant UI changes for 8.0 ([Shahzad's comment](https://github.com/elastic/apm-server/issues/6260#issue

[2021-11-18 23:05] axw commented on #6586
Thanks @tobiasstadler! Those numbers suggest we have nothing to be concerned about, storage wise. It would be helpful to know what the indexing overhead is (I expect it's also fine).

[2021-11-19 02:23] axw opened #6662 "Update indexing-related configuration docs for standalone"
In 8.0 we have various significant changes to index management and indexing which should be reflected in the standalone/legacy docs.

Fleet will now be entirely responsible for setting up index templates, ILM policies, and index pipelines. Thus, all index management configuration is now removed from apm-server (bear in mind that not all are removed from Beats):

  - `apm-server.ilm.*`
  - `apm-ser

[2021-11-19 06:42] tobiasstadler commented on #6586
Is there a way to measure to overhead?

[2021-11-19 07:25] axw commented on #6586
@tobiasstadler using the Elasticsearch `_stats` API like in https://github.com/elastic/apm-server/issues/6586#issuecomment-971247963 (comparing before & after). However, I just saw that Mat's results in https://github.com/elastic/apm-server/issues/6586#issuecomment-971285980 and the indexing stats are all zero, so I'm not exactly sure what steps are necessary here.

[2021-11-19 07:42] tobiasstadler commented on #6586
Sorry, but I do not have any "before" data.

[2021-11-19 07:44] axw commented on #6586
No worries, we'll run some experiments. Thanks all the same :)

[2021-11-19 08:21] axw commented on #5992
We should align the Elasticsearch output compression level, and enable it by default on-prem as well as in Cloud:

https://github.com/elastic/apm-server/pull/6656#discussion_r752927799

[2021-11-19 13:11] stuartnelson3 commented on #6576
I took a quick look at this -- it appears that this is supported if the incoming `service.runtime.name` is nested under `transaction.context`. Is this correct?

[2021-11-20 04:39] graphaelli opened #6678 "[docs] Add APM traces indexed by no data in APM UI troublshooting guide"
Inspired most recently by https://discuss.elastic.co/t/apm-agent-logs-shown-on-discover-but-not-on-apm-ui/289706, a [common problems](https://www.elastic.co/guide/en/apm/server/7.15/common-problems.html) entry for data seems to be indexed but the APM UI is not displaying any data would likely be appreciated by users.  While this is resolved with the move to data streams, they are not the default i

[2021-11-21 07:27] axw commented on #1678
Another option occurs to me now: we can continue to store `@timestamp` as a `date` field, but encode it using [`strict_date_optional_time_nanos`](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html#strict-date-time-nanos). The UI can pull that out of `_source` and parse it for ordering things on the waterfall.

[2021-11-22 06:22] #6571 closed

[2021-11-22 11:32] #6260 closed

[2021-11-22 17:18] simitt commented on #6461
@ppf2 apologies for the late response. The log message you listed for the connection callback is actually coming from libbeat,we'll need to update in beats and then update the apm-server to use the updated version. Given the path forward and that using data streams is planned to be GA in 7.16, we did not prioritize this issue at this point. We can revisit to improve the logs for an upcoming `7.16.

[2021-11-23 02:49] axw commented on #5999
I'm moving this out of 8.0, as we need to take a broader look at backwards compatibility of field changes like this.

[2021-11-23 09:45] axw commented on #6641
I'll update the OTel translation code to filter out NaN and +/-Inf values.

[2021-11-23 10:50] cyrille-leclerc commented on #6641
Thanks @axw!

[2021-11-23 11:23] marclop commented on #4571
After some investigation, the image that is used to to run `elastic-agent` defines a `Config.User = "elastic-agent"`. I checked using the `apm-server/docker-compose.yml` and the "integrations" that are run by the `elastic-agent` are run by the `elastic-agent` user:group.

[code]

I also checked in ECE using a `8.0.0-SNAPSHOT` deployment that the integrations are not run by root:

[code]

This was

[2021-11-23 15:44] stuartnelson3 commented on #5836
Was taking a look at this, and I don't think there's a way to block within the test code until ts2's request has been canceled. As the fetching code is written, as soon as we get a successful response, we return to the caller. We have no way to know, from the test server's perspective, if the client we're writing to is still reading on the other side. Additionally, even though the fetching code ha

[2021-11-24 00:15] #6641 closed

[2021-11-25 03:08] axw commented on #5491
https://github.com/axw/apm-server/tree/otel-logs has some of the code required to implement this. If anyone wants to take it over the line, it'll need to be hooked up to the gRPC server and needs tests added.

[2021-11-29 02:51] marclop commented on #5494
@simitt I did experience this myself a few weeks ago, but I can't seem to reproduce it now, it might've been tied to the version of `testcontainers-go` we were using at the time, should we close this one and reopen if we see it happening again?

[2021-11-29 06:26] axw commented on #6425
I'm going to go ahead with what I described above -- please let me know if you have any concerns. When #28643 is done we might want to update the "wait for integration" code in apm-server standalone to check the installed version.

[2021-11-29 09:00] #5992 closed

[2021-11-29 15:01] stuartnelson3 commented on #5441
sqlite in WAL mode (or not in WAL mode) might also be of interest: https://www.sqlite.org/wal.html

[2021-11-29 16:13] simitt commented on #6426
I tested option (2) to let users decide to configure compatibility with ES 8.0.

With current libbeat behavior I ran into issues where the `Acceot` and `Content-Type` headers were always also set by libbeat, leading to invalid headers. A PR to change the current behavior and support the custom headers is up https://github.com/elastic/beats/pull/29176.

With https://github.com/elastic/go-elasticsea

[2021-11-30 02:59] axw opened #6748 "Investigate static linking of apm-server"
I'd like to investigate the possibility and pros/cons of statically linking apm-server. e.g. we would not need to use the "crossbuild" Docker process for building binaries, I expect considerably simplifying and speeding up our build process. OTOH, we'll need to look at what (if anything) needs cgo.

[2021-11-30 08:19] ruflin commented on #5441
I think it would be very unfortunate if now that the libbeat disk queue went GA we add another queue to the system. @faec is working on some refactoring of the libbeat pipeline. Please sync up with her directly to see how the pieces can fit together before we add one more option.

[2021-11-30 11:43] axw opened #6755 "`traces-apm.rum-*` refers to non-existent ILM policy"
The RUM traces data stream refers to the `traces-apm.rum-traces-default_policy` (`...rum-traces...`) ILM policy, but it's actually called `traces-apm.rum_traces-default_policy` (`...rum_traces...`).

![image](https://user-images.githubusercontent.com/843579/144041165-db4c8913-eaaf-4adf-b9ed-cd78ddca681a.png)

[2021-11-30 12:52] marclop commented on #6755
oops, sorry about that, will fix it ASAP

[2021-11-30 21:28] kanadaj opened #6757 "401 Unauthorized on RUM POST"
**APM Server version** (`apm-server version`):
apm-server version 7.15.2 (amd64), libbeat 7.15.1 [0702551667e5319822d00dee613ea2a1501615bf built 2021-11-04 13:10:15 +0000 UTC]

**Description of the problem including expected versus actual behavior**:
When using `@elastic/apm-rum` 5.9.1, requests to `https://domain.com/intake/v2/rum/events` and `https://domain.com/intake/v3/rum/events`  seem to fai

[2021-11-30 21:34] kanadaj commented on #6757
Setting `apm-server.auth.anonymous.enabled` to true explicitly seems to fix this. It would seem that contrary to the documentation, this property isn't implicitly set by the agent.

[2021-11-30 22:04] liza-mae opened #6758 "Upgrade from 7.16.x to 8.0.x fails for APM/Fleet"
On cloud upgrading from 7.16.x to 8.0.x fails, here is the deployment:

https://staging.found.no/deployments/8afb8fe5e9a045d9b20dc7baad7005ed

The APM logs only shows:

[code]

![Screenshot from 2021-11-30 14-22-27](https://user-images.githubusercontent.com/23424008/144134490-84e67e88-005b-4d0a-b556-e8c79e4cd190.png)

There are some warning message in the elasticsearch logs, but I am not sure if t

[2021-12-01 00:49] axw commented on #6755
No worries. Our tools should help us more here, picking up such typos. I'll open an issue to introduce some more structured tooling around APM-specific integration package checks.

[2021-12-01 01:01] axw opened #6759 "Improve integration package checks"
We have a `make check-package` target which runs `elastic-package check`. This runs generic checks, which are relevant to any integration package.

We also have some APM-specific checks, i.e.
 - Ensuring the `traces-apm-*` and `traces-apm.rum-*` data streams have identical fields
 - Ensuring the package version is identical to the apm-server version (https://github.com/elastic/apm-server/pull/6676

[2021-12-01 01:06] axw commented on #6757
@kanadaj indeed, it is contrary to the docs - sorry for that. This has been fixed in https://github.com/elastic/apm-server/pull/6607. We're expecting 7.16.0 soon, and I think we may have missed the boat for getting this fix in, but we'll make sure it's in 7.16.1.

[2021-12-01 01:28] #6755 closed

[2021-12-01 04:41] axw opened #6762 "`agent_config` metrics are sent to application metrics data stream"
While digging around in a test cluster, I noticed an unusually named data stream `metrics-apm.app.-default`. Looking at the documents within, all documents are `agent_config` metrics. We should be sending these to the "internal" metrics data stream, as they are not application-specific.

[code]

[2021-12-01 06:52] simitt commented on #6758
This is a known issue on cloud. The deployment is currently disabled there, as the cloud folks are working on changes in the UI.
cc @sarahetter

[2021-12-01 08:16] #6360 closed

[2021-12-01 08:16] #5989 closed

[2021-12-01 13:08] marclop commented on #6538
Tried reproducing locally but couldn't get the `apm-server` to return with the EOF, will unassigned myself and move it back to Backlog.

[2021-12-01 15:27] simitt commented on #5494
Cannot reproduce the issue any more - closing out this issue.

[2021-12-01 15:27] #5494 closed

[2021-12-02 16:08] SylvainJuge opened #6775 "Document how to disable sensitive data capture by APM Server"
There is no mention of `capture_personal_data` APM server configuration in [this documentation page](https://www.elastic.co/guide/en/apm/get-started/current/data-security.html).

The Asciidoc file to update seems to be this one [docs/legacy/guide/data-security.asciidoc](https://github.com/elastic/apm-server/blob/master/docs/legacy/guide/data-security.asciidoc)

I'm not aware of any other PII/sensi

[2021-12-02 16:13] simitt commented on #6775
cc @bmorelli25

[2021-12-02 19:13] ppf2 commented on #6461
data streams is planned to be GA in 7.16 ❤️  thx!

[2021-12-03 01:16] axw commented on #6641
@chuck-confluent it's available in pre-release images only at the moment: `docker.elastic.co/apm/apm-server:7.16.0-SNAPSHOT` is the tag for regularly produced snapshot images. We're expecting 7.16.0 to be released within weeks.

[2021-12-03 12:23] simitt opened #6788 "Fix systemtest failure on metrics"
The `TestApprovieMetrics` test is [failing on 8.0](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-server%2Fapm-server-mbp/detail/8.0/64/tests/) and `master`.
Investigate if this is a testing issue or uncovers a real issue and fix it.

[2021-12-04 02:09] axw opened #6790 "wait_for_integration error message is unclear"
When apm-server runs standalone, it will (by default) wait for the integration package to be installed. We check this is two ways: by querying the Fleet API, or by checking that index templates have been installed. The error message is not super clear:

We should:

  1. Clarify that the server is waiting for the integration package to be installed.
  2. Direct the user to install the integration p

[2021-12-06 04:21] marclop commented on #6788
I was unable to reproduce in my machine with: `go test -v -count=50 -run TestApprovedMetrics .`.

[2021-12-06 06:46] #6762 closed

[2021-12-06 07:03] marclop commented on #6788
This test has 3 metric sets that have the same timestamp and no other fields that differ between the stored documents, I'll open a PR to update the timestamps to be slightly different, so the sorting / approving works in a deterministic way.

[2021-12-06 07:33] simitt opened #6801 "[docs] Add clarifying note to Create API Key section about required user privileges"
Add a note to the [Create API Key](https://www.elastic.co/guide/en/apm/server/current/api-key.html#create-api-key) section that the user creating the API Key needs to have the APM app privileges.

This is already mentioned in the [alternative section](https://www.elastic.co/guide/en/apm/server/current/api-key.html#create-api-key-subcommands) as follows:

Tested and confirmed that this is also requ

[2021-12-06 07:58] #6788 closed

[2021-12-06 12:01] axw commented on #6759
Closed by #6802

[2021-12-06 12:01] #6759 closed

[2021-12-06 12:20] cachedout opened #6807 "[CI] Failing master branch"
Hello,

We have detected that a test is failing in the master branch:

https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/master/1420/testReport/junit/github/com_elastic_apm-server_systemtest/Build_and_Test___System_and_Environment_Tests___TestAgentConfig/

<details>
<summary>Log output</summary>
=== RUN   TestAgentConfig
2021/12/06 08:21:04 Building apm-server...
2021/12/06 08:21:06

[2021-12-06 13:53] cachedout opened #6811 "[CI] Failure detected in v8.0.0-beta1 tag"
On Nov 9, 2021 3:38 PM CEST a test run was initiated by the tagging of v8.0.0-beta1. However, that run produced a failure:

https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/view/tags/job/v8.0.0-beta1/1/console

### Build and Test / System and Environment Tests / github.com/elastic/apm-server/systemtest.TestAPMServerInstrumentation (from github.com_elastic_apm-server_systemtest)

[code]

[2021-12-06 13:54] #6790 closed

[2021-12-06 15:46] stuartnelson3 opened #6814 "[java attacher] bad config should not prevent apm-server startup"
That's not ideal, especially when APM Server is managed via the Elastic Agent, users do not have immediate feedback. I'd rather log it as error in the APM Server and still start the server. Can you create a follow up issue?

_Originally posted by @simitt in https://github.com/elastic/apm-server/issues/6805#issuecomment-986692345_

[2021-12-06 21:10] cwiechmann commented on #1405
I'm also running into this issue using the official Docker-Image (Helm-Chart) to deploy the APM-Server. Version 7.15.0.

I have configured the following:
[code]

In the logs I can see the following, which looks like IPv6 and I'm not able to make an IPv4 request:
`Listening on: [::]:8200","service.name":"apm-server","ecs.version":"1.6.0"`

FYI:
I tried with an older version 7.4 and that was additio

[2021-12-07 01:07] axw commented on #6426
@simitt can we close this now?

[2021-12-07 02:08] #6425 closed

[2021-12-07 02:59] axw commented on #6811
So there's a flaky test (TestAPMServerInstrumentation), and the tests are generally timing out because they're running too long. I'll fix the test and bump the timeout for now, until we can decrease the test runtime.

[2021-12-07 04:18] axw commented on #6811
Part one: https://github.com/elastic/apm-server/pull/6824

[2021-12-07 04:24] bmorelli25 commented on #5987
Note to self: links changed in https://github.com/elastic/elasticsearch/pull/79411 should be updated when these docs are added.

[2021-12-07 05:42] #5491 closed

[2021-12-07 06:20] axw commented on #6811
Part two: https://github.com/elastic/apm-server/pull/6826

[2021-12-07 06:38] simitt commented on #6426
I haven't merged the `7.16` backport in libbeat yet to not interfere with `7.16.0` at this late stage. After merging and syncing, this issue can be closed.

[2021-12-07 07:46] #6811 closed

[2021-12-07 08:53] simitt commented on #3273
The `capture_personal_data` configuration also concerns backend events, therefore we are not moving the config to the `rum` focused section. Closing this issue.

[2021-12-07 08:53] #3273 closed

[2021-12-07 09:22] #6543 closed

[2021-12-07 10:16] simitt commented on #4636
Closing this as all the required work on the APM Server side for going GA and upgrading to 8.0 has been done. Single bugs (e.g. stack monitoring issues) are tracked separately.

[2021-12-07 10:16] #4636 closed

[2021-12-07 12:25] cachedout commented on #6807
Additional failures on the 8.0 branch:

## Build and Test / ARM build-test / TestPublishIntegration/MinimalEvents – github.com/elastic/apm-server/beater

<details>
<summary>Log output</summary>

Error
Failed
Stacktrace
=== RUN   TestPublishIntegration/MinimalEvents
=== PAUSE TestPublishIntegration/MinimalEvents
=== CONT  TestPublishIntegration/MinimalEvents
=== CONT  TestPublishIntegration/Minimal

[2021-12-07 13:26] AlexanderWert opened #6843 "Extend transaction fields in transaction metrics"
As initiated and discussed in this [discussion thread](https://github.com/elastic/apm/discussions/548) the transaction metrics documents should contain most of the transaction and metadata fields per default.

Related/supercedes: https://github.com/elastic/apm-server/issues/6576

Tasks:
- [ ] Define a set of field that explicitly **should not** be included in transaction metrics
- [ ] Make APM ser

[2021-12-07 13:27] dgieselaar commented on #6843
Are we sure this is a good idea?

[2021-12-07 13:27] AlexanderWert commented on #6576
There is a more general issue that includes this one: https://github.com/elastic/apm-server/issues/6843

[2021-12-07 13:31] AlexanderWert commented on #6843
@dgieselaar do you mind describing your concern [in here](https://github.com/elastic/apm/discussions/548) so we can continue the discussion on this topic? Thanks!

From the comment in the discussion thread there were no major concerns with that.

[2021-12-07 14:02] gbamparop opened #6844 "Docs: Update documentation for managing API keys to authorize requests to the APM Server"
Agent API key management support has been added as part of https://github.com/elastic/kibana/issues/77966 and the work has been done in https://github.com/elastic/kibana/pull/119543 and https://github.com/elastic/kibana/pull/120373.

[API keys documentation ](https://www.elastic.co/guide/en/apm/server/current/api-key.html
) in the APM server could be updated to reflect these changes.

A how to gui

[2021-12-07 14:07] gbamparop commented on #6844
@bmorelli25 could you please have a look at this?

[2021-12-08 10:08] axw opened #6858 "Investigate enabling golangci-lint in CI/make check"
I ran golangci-lint locally, and there were some good findings which resulted in #6857. There was also some noise, e.g. related to not checking error return on `bytes.Buffer.Write` calls which will only error under pathological conditions.

We should investigate using golangci-lint, perhaps with some code excluded: tests, and certain code such as described above. We should consider retiring review

[2021-12-13 21:58] bmorelli25 opened #6879 "Can't upgrade APM integration to version 7.16.1 on ESS"
**APM Server version** (`apm-server version`):

* ESS version 7.16.1
* APM integration version 7.16.0

**Description of the problem including expected versus actual behavior**:

* Can't upgrade the APM integration to 7.16.1
* Can't save configuration options

**Steps to reproduce**:

 1. Spin up 7.16.1 on ESS
 2. Click **Add integration** > **Elastic APM** > **APM integration** > **Switch to Elast

[2021-12-14 19:59] simitt commented on #6879
I just confirmed that this also happens in `7.16.0`.

[2021-12-14 20:55] simitt commented on #6879
This also happens after adding a default APM integration to any agent policy and trying to upgrade it. This looks like an issue with the APM UI editor rather than an APM Server issue, therefore transferring the issue.

[2021-12-16 08:06] simitt opened #6887 "Update Java agent attacher version"
Update the Java agent attacher version to `1.28.2` once it is out.

@felixbarny please let us know when it is available.

[2021-12-16 17:20] #6426 closed

[2021-12-16 18:53] simitt opened #6888 "[apmpackage] Promote apmpackage 7.16.1 to production"
Promote apmpackage 7.16.1 to production after testing on staging.

[2021-12-16 18:54] simitt opened #6889 "[apmpackage] Promote apmpackage 8.0.0 to production"
Promote apmpackage 8.0.0 to production before public release

Do this for the following releases:
* [x] rc-1
* [ ] ~rc-2~ we missed that one
* [x] GA

[2021-12-17 02:13] axw opened #6890 "Declarative specification for OpenTelemetry semantic conventions"
Let's see if we can extract the logic in `processor/otel` for mapping OpenTelemetry semantic conventions to our data model into a declarative specification.

The goal of this is to automatically generate reference documentation, and to decouple the specification from the APM Server code to enable outside reuse and contributions.

The specification should either be directly and efficiently executab

[2021-12-17 09:21] axw opened #6893 "processor/otel: Java exceptions thrown by Spring Reactive are not parsed correctly"
**APM Server version** (`apm-server version`): 7.15.2

**Description of the problem including expected versus actual behavior**:

Exceptions thrown in Spring Reactive application code, when captured by OpenTelemetry Java auto instrumentation, are not parsed correctly by the processor/otel.

**Steps to reproduce**:

See https://discuss.elastic.co/t/stack-trace-is-not-parsed/292179

Sample exception

[2021-12-17 11:51] simitt commented on #6888
Users cannot upgrade until the main issue in https://github.com/elastic/kibana/issues/121238 is fixed. Pushing the package to production now would lead users to manually upgrade and experience a failure.

[2021-12-17 12:40] simitt opened #6894 "Tail Based Sampling GA"
This is a task list of necessary work for declaring tail based sampling GA. It is a follow up of https://github.com/elastic/apm-server/issues/5484, where some preliminary testing was done to identify the current status.

## Required Feature Work

* [x] https://github.com/elastic/apm-server/issues/5125
* [x] https://github.com/elastic/apm-server/issues/5490
* [ ] #4586
* ~[ ] #4120~ Moved out of th

[2021-12-17 12:42] simitt opened #6895 "Add TBS configuration options to apmpackage"
Make required changes to the apmpackage for the TBS related configuration and default values.

Current configuration options:
[code]

precondition for https://github.com/elastic/kibana/issues/121534

[2021-12-17 12:43] simitt commented on #5484
Closing this, as the preliminary testing during 7.16 cycle was done and a follow up issue is created in #6894.

[2021-12-17 12:43] #5484 closed

[2021-12-17 13:07] simitt commented on #5486
Closing, as a duplicate has been created with https://github.com/elastic/apm-server/issues/6894

[2021-12-17 13:07] #5486 closed

[2021-12-20 04:39] eyalkoren opened #6898 "Upgrade Java agent attacher and remove argument conversion"
With https://github.com/elastic/apm-agent-java/pull/2310 merged, the next release of the Java agent (> 1.28.2) will include an attacher CLI that accepts `--include/exclude-vmarg` in addition to `--include/exclude-vmargs`. So by upgrading to it, the APM server can remove its current conversion from `--include/exclude-vmarg` (as it is received from Fleet) to `--include/exclude-vmargs`.

[2021-12-20 15:19] simitt commented on #4830
@stuartnelson3 it looks like all the checkboxes can be ticked, can this be closed?

[2021-12-20 15:21] simitt commented on #6807
Build Failures are resolved, tests on master branch have been fixed since Dec. 20th.

[2021-12-20 15:21] #6807 closed

[2021-12-20 15:26] stuartnelson3 commented on #4830
yep!

[2021-12-20 15:26] #4830 closed

[2021-12-20 15:36] simitt commented on #6843
For completeness adding the initial request from https://github.com/elastic/apm-server/issues/6576#issue-1049891960:

Furthermore, the field service.runtime.name is required to determine whether a service is in a serverless context.
In order to derive additional, Lambda-specific insights it would be very useful, if the transaction metrics derived from transaction events in the APM could include th

[2021-12-20 15:36] simitt commented on #6576
Closing this issue, as it's covered by #6843

[2021-12-20 15:36] #6576 closed

[2021-12-21 13:39] simitt opened #6921 "Clarify that Elastic Agent standalone is not officially supported for APM usecase"
It should be clear from our docs that APM Integration is only officially supported with **Fleet-managed** Elastic Agent (using Fleet) and APM Server might not be fully functional with standalone Elastic Agent.

@bmorelli25 I don't think that we explicitly discussed this before. Is there a chance to add a note to the `7.16` docs?

[2021-12-21 19:46] bmorelli25 commented on #6921
Ah. Thanks. Yup, I can add this to the docs.

[2021-12-22 14:05] stuartnelson3 opened #6925 "`processor.event: log` not being dropped"
**APM Server version** (`apm-server version`): https://github.com/elastic/apm-server/commit/2d1c27052b5ddce37858c85b48a84561752f791d

**Description of the problem including expected versus actual behavior**:

I sent an OTLP span with an event. I expected there to be no log events indexed, but one was.

**Steps to reproduce**:

 1. start `apm-server`: `./apm-server -e -E apm-server.data_streams.ena

[2021-12-22 15:35] simitt commented on #6925
@marclop can you take a look at this?

[2021-12-23 01:30] marclop commented on #6925
Thanks for the ping, I believe this is not a regression since data streams can only be enabled now, I don't think you can disable them. The description in my PR states:

[code]

The change can't be verified for `8.0` with what we're currently planning to ship. Does that make sense?

[2021-12-23 10:12] stuartnelson3 commented on #6925
makes sense, I was wondering about that (the fact that the documents were still being indexed into a data stream)

[2021-12-23 10:12] #6925 closed

[2021-12-27 21:14] bmorelli25 commented on #5987
Related to https://github.com/elastic/observability-docs/issues/942

[2021-12-28 16:34] stuartnelson3 opened #6947 "[sourcemap] ingesting apm test data doesn't yield transaction in apm ui"
While manually testing https://github.com/elastic/apm-server/pull/6447 I uploaded a sourcemap + traces from the apm-server repo. The trace "appears" (ie. the ui acknowledges a trace has been ingested), but the specific trace isn't listed on the actual service ui.

uploading sourcemap:
[code]
sending events:
[code]
service dashboard:
![image](https://user-images.githubusercontent.com/1398104/147586

[2021-12-29 09:23] marclop opened #6953 "modelindexer doesn't ever respond with 503 to APM agents"
## Description

While working on the adaptive sampling project during OnWeek, the APM server never returned a 503 back to the APM agents even when the number of transactions per second was quite elevated (300,000 transactions per minute or 5000 transactions/s).

The current `modelindexer` architecture differs from the previously used libbeat queues, and won't cause the APM Server HTTP server to re

[2021-12-29 10:04] stuartnelson3 commented on #6953
My initial thought is to add a timeout and then have some sort of disk storage, ie. wait for an initial N sec for `i.available`, and if it's not, then:
- set a flag `i.noneAvailable`
- add items to some sort of `i.disk` with the same interface/settings as `i.active`, but it commits to disk when reaching some threshold.
- on each new event, try for shorter period (N-x sec) to read from `i.available

[2021-12-29 11:14] stuartnelson3 commented on #6893
The issue appears to be with these lines:
[code]
This doesn't seem to be handled by the parser, or mentioned as a possibility in the stacktrace output used to model the parser: https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#printStackTrace()

[2021-12-29 18:58] simitt opened #6954 ".deb and .rpm installations are failing due to missing data directory"
**APM Server version** (`apm-server version`):
From 8.0 on the APM Server does not use a data directory anymore. Installation/Startup of APM Server fails for 8.0 and 8.1 due to the missing expected data directory.

**Steps to reproduce**:
 1. run `DEV=true SNAPSHOT=true PLATFORMS=linux/amd64 TYPES=deb mage package`
 2. install `.deb` and `.rpm` on the according platform
 3. try to start up the ser

[2021-12-29 23:09] #6433 closed

[2021-12-30 00:39] #6446 closed

[2021-12-30 11:25] #6954 closed

[2021-12-30 14:50] simitt opened #6964 "[cloud] Making changes to ES host configuration puts APM Server in shutdown mode"
When making a configuration change to the Fleet setting's Elasticsearch output, the (managed) APM Server goes into shutdown mode, without actually shutting down. The only way of recovering is to restart the APM Server.
This behavior was not reproducable locally, but could only be observed on cloud.

## How to reproduce
0. Spin up an ECE environment and create a cloud deployment including APM for v

[2021-12-31 10:41] stuartnelson3 opened #6969 "[java attacher] automated testing across multiple platforms"
Recent releases of apm-server come bundled with the java-attacher.jar, which the apm-server can be configured to launch as a subprocess.

Create automated tests to verify that this works on the various operating systems we target.

[2021-12-31 13:38] simitt commented on #6461
Given that a lot of users are impacted by this, we should investigate how to improve logging in `7.17`. The logs are created in the libbeat callback, so it won't be straight forward to just add more context.

[2021-12-31 13:51] simitt opened #6970 "Automate apmpackage publishing to package-storage (snapshot)"
Whenever a PR is merged that introduces changes to the `apmpackage`, or when the APM Server version is bumped, a new PR for the current version of the package should automatically be created and auto-merged if all checks pass. After merging, a promotion to the package registry needs to be triggered.

1. There are two actions that can trigger to publish a new apm package:
a. When identifying change

[2021-12-31 13:52] simitt commented on #6970
@kseniia-kolpakova is this something that the automation team could help out with?

[2021-12-31 14:00] simitt commented on #6889
Blocked until shortly before release day.

[2021-12-31 14:01] simitt commented on #4120
@axw can you update the issue with open pre-conditions?

[2021-12-31 14:15] simitt commented on #6888
The package has been released after the bug was fixed.

[2021-12-31 14:15] #6888 closed

[2021-12-31 14:22] simitt commented on #6313
Has anyone recently seen this test being flaky?

[2021-12-31 14:25] simitt commented on #6619
Closing this issue, as the server behaves as expected. Please open a new issue if you encounter problems going forward.

[2021-12-31 14:25] #6619 closed

[2021-12-31 14:27] simitt commented on #6757
Fixes have been released with `7.16.1`.

[2021-12-31 14:27] #6757 closed

[2021-12-31 14:28] simitt commented on #6758
Cloud staging is supporting `8.0` now and also upgrading from `7.16`, therefore closing this issue. Support on production is depending on cloud code deployment, which is still some time out.

[2021-12-31 14:28] #6758 closed

[2021-12-31 14:35] simitt commented on #6538
Closing for now, please reopen if this is observed again.

[2021-12-31 14:35] #6538 closed

[2021-12-31 14:36] simitt commented on #6003
Closing, as this won't be prioritized any time soon.

[2021-12-31 14:36] #6003 closed

[2021-12-31 14:36] simitt commented on #2075
Closing, as the output handling has been completely reworked.

[2021-12-31 14:36] #2075 closed

[2021-12-31 14:38] simitt commented on #2632
Closing as all related tasks were closed.

[2021-12-31 14:38] #2632 closed

[2021-12-31 14:39] simitt commented on #2776
Code has been reworked quite a bit, closing this issue as outdated.

[2021-12-31 14:39] #2776 closed

[2021-12-31 14:40] simitt commented on #3012
Closing this issue as it has been open for a long time without any actual requests for it.

[2021-12-31 14:40] #3012 closed

[2021-12-31 14:44] simitt commented on #6034
Closing as the python tests have been removed, and some setup related improvements have landed.

[2021-12-31 14:44] #6034 closed

[2021-12-31 14:45] simitt commented on #1284
With the APM Integration the output settings are not defined directly in the APM Server anymore and the whole output handling has been reworked.

[2021-12-31 14:45] #1284 closed

[2022-01-02 11:55] kseniia-kolpakova commented on #6970
@v1v can you take a look?

[2022-01-03 16:43] tiny-dancer commented on #5094
@axw  minor this is still appearing in the limitations documentation: https://www.elastic.co/guide/en/apm/guide/current/open-telemetry.html#open-telemetry-known-limitations

[2022-01-04 02:17] axw commented on #6970
@simitt is this needed if we bundle the package with Kibana?

[2022-01-04 03:52] axw commented on #5094
@tiny-dancer thanks for the heads up. There's still an issue remaining, which I'll write up and link from the docs soon. The gist is that OTel doesn't provide enough information for us to always correctly classify an OTel span as an Elastic APM transaction/span.

[2022-01-04 05:54] axw commented on #4120
@simitt I've added some detail to the description. I think this is unblocked now.

[2022-01-04 07:40] simitt commented on #6970
I am not certain how to packages will be bundled with Kibana. @joshdover do you have a plan already where the apm-package will be fetched from/ingested?

Either way, the packages most certainly won't be bundled before `8.2`, therefore automation would make sense for versions `7.17`, `8.0` and `8.1`. But it is a good point, we should be mindful about how much effort it is to automate the process.

[2022-01-04 07:44] axw commented on #6970
@simitt OK, fair enough.

According to https://github.com/elastic/kibana/issues/112095#issuecomment-999652587, the plan is to fetch packages from EPR or package-storage, which would be compatible with what you described (assuming the automation can be directed to pull them from staging.)

[2022-01-04 09:42] simitt commented on #6970
I left a comment to discuss pulling from staging https://github.com/elastic/kibana/issues/112095#issuecomment-1004658650.

[2022-01-04 12:34] v1v opened #6982 "update-beats automation fails with some `but go 1.16` errors"
The automated job to bump the beats/libbeats dependencies is broken:

- [job](https://apm-ci.elastic.co/job/apm-server/job/update-beats-mbp/job/master)
-

For instance the error traces for the [build-53](https://apm-ci.elastic.co/job/apm-server/job/update-beats-mbp/job/master/53/console):

[code]

### Further details

This is also detected in the Beats job that validates no breaking changes in the

[2022-01-05 02:34] #6982 closed

[2022-01-05 03:37] axw commented on #6953
@stuartnelson3 +1 having overflow to disk would be great.

Maybe semantics, but I think it does. We just don't respond with "queue is full" after an arbitrary one second timeout, but instead we now wait for the HTTP request timeout.

This processing of events happens synchronously, in the same goroutine that receives the events from agents. If there are no buffers available, the server will block

[2022-01-05 03:41] axw commented on #6898
Closed by #6948

[2022-01-05 03:41] #6898 closed

[2022-01-05 04:02] marclop commented on #6953
That's very true, I initially overlooked the importance of HTTP timeouts when opening this issue, I don't think we need any immediate action here or that this is likely to cause issues.

Thinking about it some more, it seems unlikely that this _change_ becomes an issue in a production scenario, where the number of APM agents sending data to an APM Server isn't likely to cause a problem unless a th